<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="cancel" (click)="cancelEdit($event)">Cancel</button>
    </ion-buttons>
    <ion-title>Organization Type</ion-title>
    <ion-buttons right>
      <button ion-button color="primary" [solid]="website == true ? 'true' : null" (click)="doneEdit($event)">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="organization && types">
    <ion-item color="white" text-wrap *ngFor="let type of types">
      <ion-label>{{type.name}}</ion-label>
      <ion-checkbox color="primary" [(ngModel)]="type.selected"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
