multi-avatar {

  text-align: center;

  .person-avatar-container {
    margin-left: 30px;
    margin-top: 15px;
  }

  person-avatar, .additional-people-circle {
    display: inline-block;
    position: relative;
    top: 0;
    margin-left: -30px;
  }

  .additional-people-circle {
    width:60px !important;
    height:60px !important;
    background-color: black;
    overflow: hidden !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: white;
    font-size: 25px;
    padding-top: 15px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }

}
