<ion-list>
  <ion-item text-wrap text-center color="white">
    <person-avatar [initials]="checkin.user_initials" [image]="checkin.user_picture" [large]="true"></person-avatar>
    <h1>{{checkin.message}}</h1>
    <p>{{checkin.created_at | dateTime}}. <strong>From {{checkin.user_name}}.</strong></p>
    <ion-badge [style.background]="answer.color" [style.color]="white" *ngFor="let answer of checkin.answers">{{answer.replies}}</ion-badge>
    <ion-badge color="waiting" *ngIf="checkin.waiting_count > 0">{{checkin.waiting_count}}</ion-badge>
  </ion-item>
  <ion-item text-wrap color="white">
    <button ion-button text-only item-left clear color="primary" tappable *ngIf="hasRespondClicked && checkin.canRespond(person)" (click)="onRespondClicked($event)">Respond</button>
    <button ion-button text-only item-right clear color="primary" tappable *ngIf="hasResendClicked && checkin.canResend(person)" (click)="onResendClicked($event)">Resend</button>
  </ion-item>
</ion-list>
<ion-list *ngFor="let answer of checkin.answers">
  <ion-list-header *ngIf="answer.replies > 0">
    <h2>{{answer.answer}}</h2>
  </ion-list-header>
  <checkin-reply [reply]="reply" [answer]="answer" [user]="user" (click)="editReply(reply, $event)" *ngFor="let reply of checkin.answerReplies(answer)"></checkin-reply>
</ion-list>
<ion-list *ngIf="checkin.otherReplies().length > 0">
  <ion-list-header>
    <h2>Other Response</h2>
  </ion-list-header>
  <checkin-reply [reply]="reply" [user]="user" (click)="editReply(reply, $event)" *ngFor="let reply of checkin.otherReplies()"></checkin-reply>
</ion-list>
<ion-list *ngIf="checkin.recipientsPending().length">
  <ion-list-header>
    <h2>No Response</h2>
  </ion-list-header>
  <ion-item color="white" *ngFor="let recipient of checkin.recipientsPending()">
    <person-avatar item-left [initials]="recipient.initials" [image]="recipient.profile_picture" [large]="false"></person-avatar>
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col text-left no-padding>
          <h2>{{recipient.name}}</h2>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col text-left no-padding>
          <p text-wrap>{{recipient.response_status}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
