checkin-details {
  ion-list {
    ion-item {
      ion-button, button {
        font-size: 16px !important;
        font-weight: 500 !important;
      }
      h1 {
        font-size: 1.4em !important;
      }
      h2 {
        font-weight: 500 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      small {
        display: block;
        color: color($colors, text) !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        padding-top: 4px;
        color: color($colors, text) !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        strong {
          color: color($colors, black) !important;
          font-weight: 500 !important;
        }
      }
      .saved {
        float:right;
      }
    }
  }
}
