<ion-list>
  <ion-item text-wrap text-center color="white">
    <person-avatar [initials]="checkin.user_initials" [image]="checkin.user_picture" [large]="true"></person-avatar>
    <h1>{{checkin.message}}</h1>
    <p>{{checkin.created_at | dateTime}}, <strong>{{checkin.user_name}}</strong></p>
    <checkin-badges [checkin]="checkin" *ngIf="checkin"></checkin-badges>
  </ion-item>
  <ion-item text-wrap color="white" *ngIf="canRespond || canResend">
    <button ion-button text-only item-left clear color="primary" tappable *ngIf="canRespond" (click)="onRespondClicked($event)">Respond</button>
    <button ion-button text-only item-right clear color="primary" tappable *ngIf="canResend" (click)="onResendClicked($event)">Resend</button>
  </ion-item>
</ion-list>
<ion-list *ngIf="checkin.recipients.length > ENABLE_FILTER_AFTER_RECIPIENT_COUNT">
  <ion-list-header>
    <ion-searchbar start placeholder="Search..." [debounce]="250" [(ngModel)]="filter"></ion-searchbar>
  </ion-list-header>
</ion-list>
<ion-list *ngFor="let answer of checkin.answers">
  <ion-list-header *ngIf="answer.replies > 0">
    <h2>{{answer.answer}}</h2>
  </ion-list-header>
  <checkin-reply [reply]="reply" [answer]="answer" [user]="user"
    (click)="onReplyClicked(reply, $event)"
    [hidden]="isRecipientFiltered(reply.user_name)"
    *ngFor="let reply of checkin.answerReplies(answer)"></checkin-reply>
</ion-list>
<ion-list *ngIf="checkin.otherReplies().length > 0">
  <ion-list-header>
    <h2>Other Response</h2>
  </ion-list-header>
  <checkin-reply [reply]="reply" [user]="user"
    (click)="onReplyClicked(reply, $event)"
    [hidden]="isRecipientFiltered(reply.user_name)"
    *ngFor="let reply of checkin.otherReplies()"></checkin-reply>
</ion-list>
<ion-list *ngIf="checkin.recipientsPending().length">
  <ion-list-header>
    <h2>No Response</h2>
  </ion-list-header>
  <ion-item color="white"
    [hidden]="isRecipientFiltered(recipient.name)"
    *ngFor="let recipient of checkin.recipientsPending()">
    <person-avatar item-left [initials]="recipient.initials" [image]="recipient.profile_picture" [large]="false"></person-avatar>
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col text-left no-padding>
          <h2>{{recipient.name}}</h2>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col text-left no-padding>
          <p text-wrap>{{recipient.response_status}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
