node_modules/
platforms/
plugins/
www/cordova.js
src/environments/environment.ts

#IONIC

secrets.ts
node_modules
.tmp
.sass-cache
*.swp
*.swo
*.log
*.DS_Store

# ANDROID
*.apk
*.ap_
*.dex
*.class
.sourcemaps/
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries
*.jks
.externalNativeBuild

## IOS
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM


codeship.aes
deployment.env
tmp/*
