<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804609537189-lfonm8i7p4fe9idblhcuoh24l9fa859f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804609537189-lfonm8i7p4fe9idblhcuoh24l9fa859f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804609537189-vu2itoj9d3c22hki89vhq2sju949svfc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVrazg_PbRPVWpnoalUGZHfaIhwfYm8DI</string>
	<key>GCM_SENDER_ID</key>
	<string>804609537189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ushahidi.tenfour</string>
	<key>PROJECT_ID</key>
	<string>tenfour-7322f</string>
	<key>STORAGE_BUCKET</key>
	<string>tenfour-7322f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804609537189:ios:1d20d361b89c57de</string>
	<key>DATABASE_URL</key>
	<string>https://tenfour-7322f.firebaseio.com</string>
</dict>
</plist>