<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="cancel" (click)="cancelEdit($event)">Cancel</button>
    </ion-buttons>
    <ion-title>Organization Size</ion-title>
    <ion-buttons right>
      <button ion-button color="primary" (click)="doneEdit($event)">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list radio-group [(ngModel)]="organization.size" *ngIf="organization && sizes">
    <ion-item color="white" text-wrap *ngFor="let size of sizes">
      <ion-label>{{size.name}}</ion-label>
      <ion-radio [value]="size.key" color="primary"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
