  <ion-item color="white" [attr.detail-push]="reply.user_id == user.id ? 'true' : null" [attr.tappable]="reply.user_id == user.id ? 'true' : null"  (click)="onReplyClicked($event)">
    <person-avatar item-left [color]="answer ? answer.color : '#FFF'" [initials]="reply.user_initials" [image]="reply.user_picture" [large]="false"></person-avatar>
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col col-7 text-left no-padding>
          <h2>{{reply.user_name}}</h2>
        </ion-col>
        <ion-col col-5 text-right no-padding>
          <small>{{reply.created_at | dateTime}}</small>
        </ion-col>
      </ion-row>
      <ion-row no-padding *ngIf="reply.message">
        <ion-col text-left no-padding>
          <p text-wrap>{{reply.message}}</p>
        </ion-col>
      </ion-row>
      <ion-row no-padding *ngIf="reply.location_text">
        <ion-col text-left no-padding>
          <p text-wrap>
            <ion-icon ios="ios-pin-outline" md="md-pin"></ion-icon>
            {{reply.location_text}}
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
