<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons>
      <button ion-button icon-only menuToggle color="primary">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>RollCalls</ion-title>
    <ion-buttons end>
      <button #notifications ion-button icon-only color="primary">
        <ion-icon ios="ios-notifications-outline" md="md-notifications"></ion-icon>
      </button>
      <button #create ion-button icon-only color="primary">
        <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadRollCalls($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="organization && organization.rollcalls">
    <ion-item no-lines *ngIf="loading == false && organization.rollcalls.length == 0">
      <h2>There currently are no RollCalls...</h2>
    </ion-item>
    <ion-card color="white" *ngFor="let rollcall of organization.rollcalls">
      <ion-card-content text-center tappable (click)="showReplies($event, rollcall)">
        <person-avatar [initials]="rollcall.user_initials" [image]="rollcall.user_picture" [large]="true"></person-avatar>
        <h1>{{rollcall.message}}</h1>
        <p>{{rollcall.created_at | dateTime}}. <strong>From {{rollcall.user_name}}.</strong></p>
        <ion-badge [style.background]="answer.color" [style.color]="white" *ngFor="let answer of rollcall.answers">{{answer.replies}}</ion-badge>
      </ion-card-content>
      <button ion-button clear color="primary" tappable (click)="sendReply($event, rollcall)">Respond</button>
    </ion-card>
  </ion-list>
</ion-content>
