page-rollcall-list {
  ion-card {
    ion-card-content {
      border-bottom: 1px solid #ccc;
      person-avatar {
      }
      h1 {
        padding-top: 3px;
        padding-bottom: 2px;
      }
      p {
        color: #888 !important;
        strong {
          color: #444 !important;
        }
      }
      ion-badge {
        margin-top: 6px;
        margin-right: 8px;
        border-radius: 2px !important;
      }
    }
  }
}
