<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Groups</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="organization && organization.groups">
    <ion-item no-lines *ngIf="loading == false && organization.groups.length == 0">
      <h2>There currently are no Groups...</h2>
    </ion-item>
    <ion-list *ngIf="organization && organization.groups">
      <ion-item color="white" *ngFor="let person of organization.groups">
        <h2>{{group.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
