<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Groups</ion-title>
    <ion-buttons right *ngIf="person">
      <button #create ion-button icon-only color="primary" *ngIf="person.isOwner() || person.isAdmin()" (click)="createGroup($event)">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center class="spinner" *ngIf="loading == true && (organization.groups == null || organization.groups.length == 0)">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <ion-list *ngIf="organization && organization.groups">
    <ion-item no-lines *ngIf="loading == false && organization.groups.length == 0">
      <h2 text-center padding-top margin-top>There currently are no Groups...</h2>
    </ion-item>
    <ion-list *ngIf="organization && organization.groups">
      <ion-item color="white" detail-push tappable (click)="showGroup(group)" *ngFor="let group of organization.groups">
        <ion-icon item-left class="group-icon" ios="ios-people" md="md-people"></ion-icon>
        <h2>{{group.name}}</h2>
        <p>{{group.member_count || 0}} people</p>
      </ion-item>
    </ion-list>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
