<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="cancel">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Groups</ion-title>
    <ion-buttons right *ngIf="user">
      <button ion-button icon-start [solid]="website == true ? 'true' : null" color="primary" *ngIf="user.isOwner() || user.isAdmin()" (click)="createGroup($event)">
        <ion-icon ios="md-add" md="md-add"></ion-icon>
        <span *ngIf="website == true">Add</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center class="spinner" *ngIf="loading == true && (organization == null || organization.groups == null || organization.groups.length == 0)">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <ion-list *ngIf="organization && organization.groups">
    <ion-item no-lines *ngIf="loading == false && organization.groups.length == 0">
      <h2 text-center padding-top margin-top>There currently are no Groups...</h2>
    </ion-item>
    <ion-list *ngIf="organization && organization.groups">
      <group-row [group]="group" [user]="user" [selectable]="user && user.isOwnerOrAdmin()"
                 (rowClicked)="showGroup(group)"
                 *ngFor="let group of organization.groups"></group-row>
    </ion-list>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
