page-checkin-respond {
  ion-slides {
    height: auto;
    ion-slide {
      .slide-zoom {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
  ion-slide.swiper-slide {
    align-items: flex-start;
  }
  ion-item {
    h1 {
    }
    p {
      color: color($colors, text) !important;
      margin-top: 5px !important;
      strong {
        color: color($colors, black) !important;
        font-weight: 500 !important;
      }
    }
    item-content, .content {
      small {
        color: color($colors, text) !important;
      }
    }
  }
}
