<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="cancel" (click)="cancelReply($event)">Cancel</button>
    </ion-buttons>
    <ion-title *ngIf="checkins && checkins.length == 0"></ion-title>
    <ion-title *ngIf="checkins && checkins.length > 1">{{index + 1}} / {{checkins.length}}</ion-title>
    <ion-buttons right>
      <button ion-button color="primary" [solid]="website == true ? 'true' : null" *ngIf="checkin && checkin.reply && checkin.reply.id == null" (click)="sendReply(checkin, checkin.reply)">Send</button>
      <button ion-button color="primary" [solid]="website == true ? 'true' : null" *ngIf="checkin && checkin.reply && checkin.reply.id != null" (click)="saveReply(checkin, checkin.reply)">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides [pager]="false" [class.swiper-no-swiping]="checkins == null || checkins.length == 1" (ionSlideDidChange)="slideChanged($event)">
    <ion-slide *ngFor="let _checkin of checkins; let i = index;">
      <checkin-respond [(checkin)]="checkins[i]" [organization]="organization"></checkin-respond>
    </ion-slide>
  </ion-slides>
</ion-content>
