page-signin-url {
  ion-item {
    h3 {
      color: #888;
      margin: 0;
      padding-bottom: 6px;
      font-size: 1.0em !important;
    }
    button {
      font-size: 1.0em !important;
    }
  }
}
