<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button icon-only menuToggle color="cancel">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center class="spinner" *ngIf="loading == true && (notifications == null || notifications.length == 0)">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <ion-list *ngIf="notifications">
    <ion-item no-lines *ngIf="loading == false && notifications.length == 0">
      <h2>There currently are no notifications...</h2>
    </ion-item>
    <ion-card color="card" [class.viewed]="notification.viewed_at" *ngFor="let notification of notifications">
      <ion-card-content text-wrap *ngIf="notification.isType('Welcome')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>Welcome to TenFour!</h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('WelcomeAbandoned')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>Welcome to TenFour.</h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('PersonJoinedOrganization')">
        <person-avatar float-left margin-right [initials]="notification.person_initials" [image]="notification.person_picture" [large]="false"></person-avatar>
        <h2>
          <strong>{{notification.person_name}}</strong> joined the organization.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('PersonLeftOrganization')">
        <person-avatar float-left margin-right [initials]="notification.person_initials" [image]="notification.person_picture" [large]="false"></person-avatar>
        <h2>
          <strong>{{notification.person_name}}</strong> left the organization.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('PersonToPerson')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>{{notification.person_name}}</strong> sent you a notification:
          <em>{{notification.message}}</em>
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('CheckIn')">
        <person-avatar float-left margin-right [initials]="notification.person_initials" [image]="notification.person_picture" [large]="false"></person-avatar>
        <h2>
          You received a Check-In <strong *ngIf="notification.checkin_message">{{notification.checkin_message}}</strong>.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('ReplyReceived')">
        <person-avatar float-left margin-right [initials]="notification.person_initials" [image]="notification.person_picture" [large]="false"></person-avatar>
        <h2>
          <strong>{{notification.reply_from}}</strong> responded to a Check-In.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('ImportSucceeded')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>
            <span *ngIf="notification.import_count == 0">Nobody was imported</span>
            <span *ngIf="notification.import_count == 1">1 person was imported</span>
            <span *ngIf="notification.import_count > 1">{{notification.import_count}} people were imported</span>
          </strong> into the organization.
          <span *ngIf="notification.import_dupe_count == 1">1 duplicate was found.</span>
          <span *ngIf="notification.import_dupe_count > 1">{{notification.import_dupe_count}} duplicates were found.</span>
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('ImportFailed')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>Import failed</strong> {{notification.message}}
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('Unsubscribe')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>{{notification.person_name}}</strong> blocked the {{notification.contact_type}} <strong>{{notification.contact}}</strong> from receiving Check-Ins.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('Complaint')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>{{notification.person_name}}</strong> reported the TenFour <strong>{{notification.checkin_message}}</strong> as spam.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('FreePromoEnding')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>{{notification.message}}</h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('TrialEnding')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>{{notification.message}}</h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('PaymentSucceeded')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>Successful Payment</strong> to TenFour on the {{notification.card_type}} card ending in {{notification.card_last_four}}.
          We have added {{notification.card_adjustment}} credits to your account.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('PaymentFailed')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>Payment Failure</strong> on the {{notification.card_type}} card ending in {{notification.card_last_four}}.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('ApproachingPersonQuotaLimit')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>Upgrade your Plan</strong> You are approaching the person limit on your free plan. You might want to consider upgrading your plan to add more people.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('SubscriptionChanged')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>Your Subscription Plan has Changed</strong> You will be billed {{notification.billing_estimate | currency}} (estimate) on {{notification.billing_next | dateTime}}.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('CreditsLow')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>Your TenFour account is running low on credits</strong>
          It is important that you can reach your entire team in an emergency. Get more text credits now, so you're ready for anything.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('CreditsZero')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>Your TenFour account has run out of credits</strong>
          You will not be able to reach your team in an emergency. Get more text credits now, so you're ready for anything.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('LDAPSyncSucceeded')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>Active Directory (LDAP) Sync Suceeded</strong>
          You successfully synced with your server. This is a one-time notification.
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
      <ion-card-content text-wrap *ngIf="notification.isType('LDAPSyncFailed')">
        <organization-logo float-left margin-right [image]="organization.profile_picture"></organization-logo>
        <h2>
          <strong>Active Directory (LDAP) Sync Failed</strong>
          {{notification.message}}
        </h2>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
