page-notification-list {
  ion-card {
    &.viewed {
      opacity: 0.5 !important;
    }
    ion-item {
      person-avatar {
        width: 35px;
      }
      organization-logo {
        width: 35px;
      }
      h2 {

      }
      p {
        font-size: 14px !important;
        color: #888 !important;
      }
    }
  }
}
