<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="notifications">
    <ion-item no-lines *ngIf="loading == false && notifications.length == 0">
      <h2>There currently are no Notifications...</h2>
    </ion-item>
    <ion-card [class.viewed]="notification.viewed_at" *ngFor="let notification of notifications">
      <ion-item color="white" text-wrap *ngIf="notification.type == 'ReplyReceived'">
        <person-avatar item-left [initials]="notification.person_initials" [image]="notification.person_picture" [large]="false"></person-avatar>
        <h3><strong>{{notification.reply_from}}</strong> responded to a RollCall.</h3>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-item>
      <ion-item color="white" text-wrap *ngIf="notification.type == 'RollCallReceived'">
        <person-avatar item-left [initials]="notification.person_initials" [image]="notification.person_picture" [large]="false"></person-avatar>
        <h3>You received a Rollcall: <strong>{{notification.rollcall_message}}</strong></h3>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-item>
      <ion-item color="white" text-wrap *ngIf="notification.type == 'PersonJoinedOrganization'">
        <person-avatar item-left [initials]="notification.person_initials" [image]="notification.person_picture" [large]="false"></person-avatar>
        <h3><strong>{{notification.person_name}}</strong> joined the organization.</h3>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-item>
      <ion-item color="white" text-wrap *ngIf="notification.type == 'PersonLeftOrganization'">
        <person-avatar item-left [initials]="notification.person_initials" [image]="notification.person_picture" [large]="false"></person-avatar>
        <h3><strong>{{notification.person_name}}</strong> left the organization.</h3>
        <p>{{notification.created_at | dateTime}}</p>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
