page-notification-list {
  ion-content {
    background-color: color($colors, cards) !important;  
  }
  ion-card {
    &.viewed {
      opacity: 0.5 !important;
    }
    ion-card-content {
      person-avatar {
        width: 35px;
      }
      organization-logo {
        width: 35px;
      }
      h2 {
        strong {
          font-weight: 600 !important;
        }
      }
      p {
        font-size: 14px !important;
        color: color($colors, text) !important;
      }
    }
  }
}
