<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="primary" (click)="cancelEdit($event)">Cancel</button>
    </ion-buttons>
    <ion-title>Edit Organization</ion-title>
    <ion-buttons right>
      <button ion-button color="primary" (click)="doneEdit($event)">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list lines *ngIf="organization">
    <ion-item color="white" text-center>
      <person-avatar item-center [image]="logo" [large]="true" *ngIf="organization.profile_picture == null"></person-avatar>
      <person-avatar item-center [image]="organization.profile_picture" [large]="true" *ngIf="organization.profile_picture != null"></person-avatar>
      <button ion-button clear color="primary" *ngIf="organization.profile_picture" (click)="showCameraOptions($event)">Change photo</button>
      <button ion-button clear color="primary" *ngIf="organization.profile_picture == null" (click)="showCameraOptions($event)">Add photo</button>
      <input style="display:none" type="file" (change)="onFileChanged($event)" #fileInput *ngIf="website == true">
    </ion-item>
    <ion-item color="white">
      <ion-label floating>Name</ion-label>
      <ion-input type="text" (keypress)="onKeyPress($event)" [(ngModel)]="organization.name"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label floating>Location</ion-label>
      <ion-input type="text" (keypress)="onKeyPress($event)" (keyup)="searchAddress()" (ionFocus)="searchAddress()" [(ngModel)]="organization.location"></ion-input>
    </ion-item>
    <ion-item color="white" tappable (click)="selectLocation(location)" *ngFor="let location of locations">
      <ion-icon ios="ios-pin" md="md-pin" item-left></ion-icon>
      <div item-content text-left item-left class="content">{{location.address}}</div>
    </ion-item>
  </ion-list>
  <div padding margin-top *ngIf="person && person.isOwner()">
    <button ion-button block color="danger" *ngIf="person && person.isOwner() == true" (click)="deleteAccount($event)">Delete Organization</button>
  </div>
</ion-content>
