page-person-edit {
  .phone {
    ion-input {
      border-bottom: 1px solid #e5e5e5;
    }
  }
  .email {
    ion-input {
      border-bottom: 1px solid #e5e5e5;
    }
    ion-label {
      margin-left: 0 !important;
      padding-left: 0 !important;
      ion-icon {
        margin-left: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
  .role {
    ion-label {
      margin-left: 0 !important;
      padding-left: 0 !important;
      ion-icon {
        margin-left: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
  .phone {
    .input-cover {
      margin-left: 140px;
    }
  }
  .groups {
    
  }
}
