<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons start>
      <button ion-button color="primary" *ngIf="editing == true" (click)="cancelEdit($event)">Cancel</button>
    </ion-buttons>
    <ion-title *ngIf="editing == true">Edit Person</ion-title>
    <ion-title *ngIf="editing == false">Add Person</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" *ngIf="editing == true" (click)="updatePerson($event)">Save</button>
      <button ion-button color="primary" *ngIf="editing == false" (click)="createPerson($event)">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="person">
    <ion-item color="white" class="profile" text-center>
      <person-avatar [initials]="person.initials" [image]="person.profile_picture" [large]="true" *ngIf="person.initials || person.profile_picture"></person-avatar>
      <button ion-button clear color="primary" *ngIf="person.profile_picture" (click)="showCameraOptions($event)">Change photo</button>
      <button ion-button clear color="primary" *ngIf="person.profile_picture == null" (click)="showCameraOptions($event)">Add photo</button>
    </ion-item>
    <ion-item color="white">
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="person.name"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="person.description"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="person">
    <ion-item color="white" tappable (click)="addPhone($event)">
      <ion-label color="primary">Add phone</ion-label>
    </ion-item>
    <ion-item class="phone" color="white" *ngFor="let contact of person.getPhones()">
      <ion-icon ios="ios-call-outline" md="md-call" item-left></ion-icon>
      <ion-select item-right [interface]="selectType" [disabled]="countryCodes == null || countryCodes.length <= 1" [selectOptions]="selectOptions" [(ngModel)]="contact.country_code" *ngIf="countryCodes">
        <ion-option [value]="countryCode" *ngFor="let countryCode of countryCodes">
          +{{countryCode}}
        </ion-option>
      </ion-select>
      <ion-input item-right type="tel" autocorrect="off" autocapitalize="none" placeholder="phone number" [(ngModel)]="contact.national_number"></ion-input>
      <ion-input type="tel" hidden [(ngModel)]="contact.contact"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="person">
    <ion-item color="white" tappable (click)="addEmail($event)">
      <ion-label color="primary">Add email</ion-label>
    </ion-item>
    <ion-item class="email" color="white" *ngFor="let contact of person.getEmails()">
      <ion-icon ios="ios-mail-outline" md="md-mail" item-left></ion-icon>
      <ion-input type="email" autocorrect="off" autocapitalize="none" placeholder="email address" [(ngModel)]="contact.contact"></ion-input>
    </ion-item>
  </ion-list>
  <div padding-left padding-right padding-bottom *ngIf="person && person.id">
    <button ion-button block color="danger" *ngIf="person.me == null || person.me == false" (click)="deletePerson($event)">Remove from organization</button>
  </div>
</ion-content>
