page-person-edit {
  .phone {
    ion-input {
    }
  }
  .email {
    ion-input {
    }
    ion-label {
      margin-left: 0 !important;
      padding-left: 0 !important;
      ion-icon {
        margin-left: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
  .address {
    ion-input {
    }
    ion-label {
      margin-left: 0 !important;
      padding-left: 0 !important;
      ion-icon {
        margin-left: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
  .roles {
    border-bottom: 1px solid color($colors, dark) !important;
    ion-label {
      margin-left: 0 !important;
      padding-left: 0 !important;
      ion-icon {
        margin-left: 0 !important;
        padding-left: 0 !important;
      }
    }
  }
  .phone {
    .input-cover {
      margin-left: 140px;
    }
  }
  .groups {
    border-bottom: 1px solid color($colors, dark) !important;
  }
}
