<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons start>
      <button ion-button color="primary" (click)="cancelEdit($event)">Cancel</button>
    </ion-buttons>
    <ion-title *ngIf="editing == true">Edit Person</ion-title>
    <ion-title *ngIf="editing == false">Add Person</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" *ngIf="editing == true" (click)="updatePerson($event)">Save</button>
      <button ion-button color="primary" *ngIf="editing == false" (click)="createPerson($event)">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="person">
    <ion-item color="white" class="profile" text-center>
      <person-avatar [initials]="person.initials" [image]="person.profile_picture" [large]="true"></person-avatar>
      <button ion-button clear color="primary" *ngIf="person.profile_picture" (click)="changePhoto($event)">Change photo</button>
      <button ion-button clear color="primary" *ngIf="person.profile_picture == null" (click)="addPhoto($event)">Add photo</button>
    </ion-item>
    <ion-item color="white">
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="person.name"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="person.description"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="person">
    <ion-item color="white" tappable (click)="addPhone($event)">
      <ion-label color="primary">Add phone</ion-label>
    </ion-item>
    <ion-item color="white" *ngFor="let contact of person.getPhones()">
      <ion-label fixed>Phone</ion-label>
      <ion-input type="tel" autocorrect="off" autocapitalize="none"  [(ngModel)]="contact.contact"></ion-input>
    </ion-item>
  </ion-list>  
  <ion-list *ngIf="person">
    <ion-item color="white" tappable (click)="addEmail($event)">
      <ion-label color="primary">Add email</ion-label>
    </ion-item>
    <ion-item color="white" *ngFor="let contact of person.getEmails()">
      <ion-label fixed>Email</ion-label>
      <ion-input type="email" autocorrect="off" autocapitalize="none" [(ngModel)]="contact.contact"></ion-input>
    </ion-item>
  </ion-list>  
</ion-content>
