<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end *ngIf="person">
      <button ion-button icon-only color="primary" *ngIf="person.isOwner() || person.isAdmin()" (click)="editGroup($event)">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadGroup(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="group && group.members">
    <ion-item color="white" text-center>
      <ion-label>
        <ion-icon class="group-icon-large" ios="ios-people" md="md-people"></ion-icon>
        <h2 margin-top>{{group.name}}</h2>
        <p>{{group.description}}</p>
      </ion-label>
    </ion-item>
    <ion-item detail-push color="white" tappable (click)="showPerson(_person)" *ngFor="let _person of group.members">
      <person-avatar item-left [initials]="_person.initials" [image]="_person.profile_picture" [large]="false"></person-avatar>
      <h2>{{_person.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
