<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Subscription Plans</ion-title>
  </ion-navbar>
</ion-header>
<ion-content color="white">

  <h1>Upgrade to TenFour Pro</h1>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>

        <ion-card>
          <ion-card-header>
            Free
          </ion-card-header>
          <ion-card-content>
            <h2>Free!</h2>
            <ion-list>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>Unlimited in-app check-ins</ion-item>
            </ion-list>
            <button ion-button icon-left outline block disabled color="primary" *ngIf="organization && organization.hasFreePlan()"><ion-icon name="checkmark"></ion-icon> You are on free plan</button>
            <button ion-button block color="primary" *ngIf="organization && !organization.hasFreePlan()" (click)="switchToFree($event)">Switch to TenFour free</button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col col-12 col-sm>

        <ion-card>
          <ion-card-header>
            Pro
          </ion-card-header>
          <ion-card-content>
            <h2>$3 USD per user, per month</h2>
            <ion-list>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>Unlimited in-app check-ins</ion-item>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>Unlimited email check-ins</ion-item>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>Unlimited Slack check-ins</ion-item>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>5 SMS check-ins per user, per month</ion-item>
            </ion-list>
            <ion-list *ngIf="organization && organization.hasProPlan() && subscription">
              <ion-item><ion-icon name="people" item-start></ion-icon>{{billingEstimate | currency}} per month for {{organization.user_count}} people. (Estimate)</ion-item>
              <ion-item><ion-icon name="calculator" item-start></ion-icon>Billed on {{subscription.next_billing_at | dayOfMonth}} of every month</ion-item>
              <ion-item *ngIf="subscription.promo_code"><ion-icon name="pricetag" item-start></ion-icon>Coupon code: {{subscription.promo_code}}</ion-item>
              <ion-item><ion-icon name="card" item-start></ion-icon>XXXX-XXXX-XXXX-{{subscription.last_four}} {{subscription.card_type}}</ion-item>
            </ion-list>
            <p text-center *ngIf="organization && organization.hasProPlan()">
              <button ion-button block clear color="secondary" (click)="updateBillingInfo($event)">Update your billing info</button>
            </p>
            <button ion-button icon-left outline disabled block color="primary" *ngIf="organization && organization.hasProPlan()"><ion-icon name="checkmark"></ion-icon> You have TenFour Pro</button>
            <button ion-button block color="primary" *ngIf="organization && !organization.hasProPlan()" (click)="switchToPro($event)">Upgrade to TenFour Pro</button>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col col-12 col-sm>

        <ion-card>
          <ion-card-header>
            Extra SMS Credits
          </ion-card-header>
          <ion-card-content>
            <h2>$0.10 USD per credit per month</h2>
            <ion-list>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>1 credit = 1 text message in the United States</ion-item>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>International credits vary</ion-item>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>Credits do not rollover</ion-item>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>Renewed every month</ion-item>
              <ion-item><ion-icon name="checkmark-circle" item-start></ion-icon>Ensure you always have enough credits to reach your team in an emergency</ion-item>
            </ion-list>
            <p>Add credits</p>
            <ion-input type="number" placeholder="50" (keypress)="onCreditsChange($event)" (change)="onCreditsChange($event)" [(ngModel)]="updatedCredits"></ion-input>
            <p>Cost: {{updatedCreditsCost | currency}} per month</p>
            <button ion-button block disabled color="primary" *ngIf="organization && !organization.hasProPlan()">TenFour Pro Only</button>
            <button ion-button block color="primary" *ngIf="organization && organization.hasProPlan()" (click)="addCredits($event)">Add SMS Credits</button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
