page-settings-payments {
  ion-item {
    h1 {
      font-size: 3.4rem !important;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    p {
      margin-top: 5px !important;
      padding-top: 0 !important;
    }
  }
}
