page-settings-payments {
  ion-content {
    background-color: color($colors, cards) !important;
  }
  .extra-sms-credits {
    opacity: .7;

    &.enabled {
      opacity: 1;
    }
  }

  h2 {
    text-align: center;
    color: color($colors, grey);

    &.activated {
      color: color($colors, primary);
    }
  }

  ion-card.card {
    background-color: color($colors, white);
    border-top: 5px solid color($colors, grey);

    &.activated {
      border-top-color: color($colors, primary);
    }

    ion-item {
      background-color: color($colors, white);
    }

    ion-card-header {
      font-weight: bold;
    }
  }

  ion-list.features {
    ion-item {
      // border-bottom: 1px solid color($colors, grey);
    }
  }

  ion-list {
    ion-item {
      h1 {
        font-size: 3.4rem !important;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
      h2 {
        margin-top: 10px !important;
        margin-bottom: 100px !important;
      }
      p {
        margin-top: 5px !important;
        padding-top: 0 !important;
      }
      ion-spinner {
        margin-top: 100px;
        margin-bottom: 100px;
      }
    }
  }
}
