page-person-details {
  ion-content {
    background-color: color($colors, cards) !important;
  }
  .profile {
    h1 {
    }
    p {
      color: color($colors, text);
    }
  }
  .contact {

  }
  .role {

  }
  .content {
    color: color($colors, text);
  }
  ion-card {
    ion-card-content {
      border-bottom: 1px solid color($colors, dark);
      person-avatar {
      }
      h1 {
      }
      p {
        color: color($colors, text) !important;
        strong {
          color: color($colors, black) !important;
          font-weight: 500 !important;
        }
      }
      ion-badge {
        margin-top: 6px;
        margin-right: 8px;
        border-radius: 2px !important;
      }
    }
    ion-row {
      ion-col {
        button {
          font-weight: 500 !important;
        }
      }
    }
  }
}
