<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons start>
      <button ion-button icon-only menuToggle color="primary" *ngIf="title">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end  *ngIf="user && person">
      <button tappable ion-button color="primary" *ngIf="person.isMe() || user.isOwner() || user.isAdmin()" (click)="editPerson($event)">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="person">
    <ion-item color="white" class="profile" text-center text-wrap>
      <person-avatar item-center [initials]="person.initials" [image]="person.profile_picture" [large]="true"></person-avatar>
      <h1>{{person.name}}</h1>
      <p>{{person.description}}</p>
      <div *ngIf="organization">
        <button ion-button clear tappable color="primary" *ngIf="person.needsInvite()" (click)="invitePerson($event)">
          <span *ngIf="person.invite_sent == true || person.invite_sent == 1">Send another invitation</span>
          <span *ngIf="person.invite_sent == false || person.invite_sent == 0">Invite this person to join {{organization.name || 'organization'}}</span>
        </button>
      </div>
    </ion-item>
    <ion-item detail-push tappable color="white" class="contact"
              (click)="phoneContact(contact)"
              [hidden]="contact.contact == null || contact.contact.length == 0"
              *ngFor="let contact of person.getPhones()">
      <ion-icon ios="ios-call-outline" md="md-call" item-left></ion-icon>
      <div item-content class="content">{{contact.contact}}</div>
    </ion-item>
    <ion-item detail-push tappable color="white" class="contact"
              (click)="emailContact(contact)"
              [hidden]="contact.contact == null || contact.contact.length == 0"
              *ngFor="let contact of person.getEmails()">
      <ion-icon ios="ios-mail-outline" md="md-mail" item-left></ion-icon>
      <div item-content class="content">{{contact.contact}}</div>
    </ion-item>
    <ion-item color="white" class="role">
      <ion-icon ios="ios-key-outline" md="md-key" item-left></ion-icon>
      <div item-content class="content" *ngIf="person.role =='admin'">Administrator</div>
      <div item-content class="content" *ngIf="person.role =='author'">Author</div>
      <div item-content class="content" *ngIf="person.role =='viewer'">Viewer</div>
      <div item-content class="content" *ngIf="person.role =='responder'">Reply Only</div>
    </ion-item>
  </ion-list>
</ion-content>
