page-person-details {
  .profile {
    text-align: center;
    img {
      max-width: 60px;
    }
    p {
      color: #888;
    }
  }
  .contact {

  }
  .role {

  }
  .content {
    color: #888;
  }
}
