<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button icon-only menuToggle *ngIf="profile == true" color="cancel">
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button color="cancel" *ngIf="modal == true" (click)="hideModal($event)">Close</button>
    </ion-buttons>
    <ion-title *ngIf="profile == false">Person</ion-title>
    <ion-title *ngIf="profile == true">Profile</ion-title>
    <ion-buttons right *ngIf="user && person">
      <button tappable ion-button color="primary" *ngIf="canEdit" (click)="editPerson($event)">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="person">
    <ion-item color="white" class="profile" text-center text-wrap>
      <person-avatar item-center [initials]="person.initials" [image]="person.profile_picture" [large]="true"></person-avatar>
      <h1>{{person.name}}</h1>
      <p>{{person.description}}</p>
      <div *ngIf="organization">
        <button ion-button clear tappable color="primary" *ngIf="person.needsInvite()" (click)="invitePerson($event)">
          <span *ngIf="person.invite_sent == true || person.invite_sent == 1">Send another invitation</span>
          <span *ngIf="person.invite_sent == false || person.invite_sent == 0">Invite this person to join {{organization.name || 'organization'}}</span>
        </button>
      </div>
    </ion-item>
    <ion-item detail-push tappable color="white" class="contact"
              (click)="phoneContact(contact)"
              [hidden]="contact.contact == null || contact.contact.length == 0"
              *ngFor="let contact of person.getPhones()">
      <ion-icon ios="ios-call-outline" md="md-call" item-left></ion-icon>
      <div item-content class="content" [class.blocked]="contact.blocked">{{contact.contact}}</div>
    </ion-item>
    <ion-item detail-push tappable color="white" class="contact"
              (click)="emailContact(contact)"
              [hidden]="contact.contact == null || contact.contact.length == 0"
              *ngFor="let contact of person.getEmails()">
      <ion-icon ios="ios-mail-outline" md="md-mail" item-left></ion-icon>
      <div item-content class="content" [class.blocked]="contact.blocked">{{contact.contact}}</div>
    </ion-item>
    <ion-item detail-push tappable color="white" class="contact"
              (click)="showAddress(contact)"
              [hidden]="contact.contact == null || contact.contact.length == 0"
              *ngFor="let contact of person.getAddresses()">
      <ion-icon ios="ios-home" md="md-home" item-left></ion-icon>
      <div item-content class="content">{{contact.contact}}</div>
    </ion-item>
    <ion-item color="white" class="role">
      <ion-icon ios="ios-key-outline" md="md-key" item-left></ion-icon>
      <div item-content class="content" *ngIf="person.role =='owner'">Organization Owner</div>
      <div item-content class="content" *ngIf="person.role =='admin'">Administrator</div>
      <div item-content class="content" *ngIf="person.role =='author'">Author</div>
      <div item-content class="content" *ngIf="person.role =='viewer'">Viewer</div>
      <div item-content class="content" *ngIf="person.role =='responder'">Reply Only</div>
    </ion-item>
    <ion-item color="white" class="groups" text-wrap>
      <ion-icon ios="ios-people" md="md-people" item-left></ion-icon>
      <div item-content class="content">{{person.groupNames()}}</div>
    </ion-item>
  </ion-list>
  <div text-center class="spinner" *ngIf="loading == true">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <ion-list *ngIf="person && person.checkins && person.checkins.length > 0">
    <ion-list-header>
      <h2>Check-Ins</h2>
    </ion-list-header>
    <checkin-card [checkin]="checkin" [user]="user" [selected]="selected == checkin"
                  (cardSelected)="showCheckinDetails(checkin, $event)" *ngFor="let checkin of person.checkins"></checkin-card>
  </ion-list>
  <ion-list *ngIf="person && person.replies && person.replies.length > 0">
    <ion-list-header>
      <h2>Responses</h2>
    </ion-list-header>
    <checkin-reply [reply]="reply" [user]="user" (replyClicked)="showCheckinDetailsForReply(reply, $event)"
      *ngFor="let reply of person.replies"></checkin-reply>
  </ion-list>
  <!-- <ion-infinite-scroll *ngIf="person && person.checkins && person.checkins.length >= limit" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
