<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="organization">
    <ion-item color="white" class="details" text-center text-wrap>
      <person-avatar item-center [image]="logo" [large]="true" *ngIf="organization.profile_picture == null"></person-avatar>
      <person-avatar item-center [image]="organization.profile_picture" [large]="true" *ngIf="organization.profile_picture != null"></person-avatar>
      <h1>{{organization.name}}</h1>
      <p *ngIf="organization.location">{{organization.location}}</p>
      <button ion-button outline color="primary" *ngIf="user && user.isOwnerOrAdmin()" (click)="settingsEdit($event)">Edit</button>
    </ion-item>
    <ion-item color="white" tappable detail-push (click)="settingsTypes($event)">
      Organization Type
    </ion-item>
    <ion-item color="white" tappable detail-push (click)="settingsSizes($event)">
      Organization Size
    </ion-item>
    <!-- <ion-item color="white" tappable detail-push (click)="settingsRegions($event)">
      Organization Region
    </ion-item> -->
    <!-- <ion-item color="white" tappable detail-push (click)="settingsRoles($event)">
      User Roles
    </ion-item> -->
    <ion-item color="white" tappable detail-push (click)="settingsCheckins($event)">
      Active Channels
    </ion-item>
    <ion-item color="white" tappable detail-push (click)="contactsImport($event)">
      Import Contacts
    </ion-item>
    <ion-item *ngIf="user && user.isOwner() && !ios" color="white" tappable detail-push (click)="settingsPayments($event)">
      <span *ngIf="organization && organization.hasFreePlan()">Upgrade to TenFour Pro</span>
      <span *ngIf="organization && !organization.hasFreePlan()">Subscription Plans</span>
    </ion-item>
  </ion-list>
</ion-content>
