<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left *ngIf="modal == true">
      <button ion-button color="cancel" (click)="closeModal($event)">Close</button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons right *ngIf="user">
      <button ion-button icon-only (click)="showCheckinActions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <checkin-details [checkin]="checkin" [user]="user"
                   [canRespond]="checkin.canRespond(user)" [canResend]="checkin.canResend(user)"
                   (respondClicked)="respondCheckin($event)" (resendClicked)="resendCheckin($event)"
                   (replyClicked)="editReply($event)" *ngIf="checkin && user"></checkin-details>
</ion-content>
