<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left *ngIf="modal == true">
      <button ion-button color="primary" (click)="closeModal($event)">Close</button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons right *ngIf="person && mobile">
      <button #create ion-button icon-only color="primary" *ngIf="person.isOwner() || person.isAdmin() || person.isAuthor() || person.isViewer()" (click)="shareCheckin($event)">
        <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <checkin-details [checkin]="checkin" [person]="person"
                   [canSend]="checkin.canRespond(person)" [canResend]="checkin.canResend(person)"
                   (sendClicked)="respondCheckin($event)" (resendClicked)="resendCheckin($event)"></checkin-details>
</ion-content>
