<ion-list>
  <ion-list-header>
    <h2>Send Via</h2>
  </ion-list-header>
  <ion-item color="white">
    <ion-icon ios="ios-phone-portrait" md="md-phone-portrait" item-left></ion-icon>
    <ion-label>TenFour App</ion-label>
    <ion-checkbox [(ngModel)]="app_selected" item-right (ionChange)="onAppSelected($event)"></ion-checkbox>
  </ion-item>
  <ion-item color="white">
    <ion-icon ios="ios-mail" md="md-mail" item-left></ion-icon>
    <ion-label>Email</ion-label>
    <ion-checkbox [(ngModel)]="email_selected" item-right (ionChange)="onEmailChanged($event)" [disabled]="!email_enabled"></ion-checkbox>
  </ion-item>
  <ion-item color="white">
    <ion-icon ios="ios-text" md="md-text" item-left></ion-icon>
    <ion-label>SMS</ion-label>
    <ion-checkbox [(ngModel)]="sms_selected" item-right (ionChange)="onSmsChanged($event)" [disabled]="!sms_enabled"></ion-checkbox>
  </ion-item>
  <ion-item color="white">
    <ion-icon ios="ios-chatboxes" md="md-chatboxes" item-left></ion-icon>
    <ion-label>Slack</ion-label>
    <ion-checkbox [(ngModel)]="slack_selected" item-right (ionChange)="onSlackChanged($event)" [disabled]="!slack_enabled"></ion-checkbox>
  </ion-item>
</ion-list>
