<ion-header>
  <ion-navbar color="navbar">
    <ion-title>TenFour</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div text-center margin-bottom *ngIf="organization && person">
    <div *ngIf="(person.isOwnerOrAdmin() && person.config_people_invited == false) || person.config_profile_reviewed == false || person.config_self_test_sent == false">
      <h3>Let's make sure {{organization.name}} is ready.</h3>
      <h5 *ngIf="loading == true">Loading your organization...</h5>
      <h5 *ngIf="loading == false">There's a few things we can do to ensure everything's in order:</h5>
    </div>
    <div *ngIf="loading == false">
      <div text-center margin-bottom *ngIf="(person.isOwnerOrAdmin() == false || person.config_people_invited == true) && person.config_profile_reviewed == true && person.config_self_test_sent == true">
        <h3>Good news, you're all set!</h3>
      </div>
      <div *ngIf="person.isOwnerOrAdmin()">
        <div margin-top margin-bottom padding-left padding-right padding-bottom *ngIf="person.config_people_invited == true">
          <ion-icon class="completed" color="primary" ios="md-checkmark" md="md-checkmark"></ion-icon>
          <h5 no-margin>You added people to {{organization.name}}</h5>
        </div>
        <ion-card tappable margin-top margin-bottom *ngIf="person.config_people_invited == false" (click)="taskAddPeople($event)">
          <ion-card-content>
            <div class="icon-border">
              <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
            </div>
            <h2>Add people to your organization</h2>
            <h5>Make sure everyone you need to reach is included.</h5>
          </ion-card-content>
        </ion-card>
      </div>
      <div margin-top margin-bottom padding-left padding-right padding-bottom *ngIf="person.config_profile_reviewed == true">
        <ion-icon class="completed" color="primary" ios="md-checkmark" md="md-checkmark"></ion-icon>
        <h5 no-margin>You reviewed your contact information</h5>
      </div>
      <ion-card tappable margin-top margin-bottom [class.disabled]="person.isOwnerOrAdmin() && person.config_people_invited == false" *ngIf="person.config_profile_reviewed == false" (click)="taskReviewContact($event)">
        <ion-card-content>
          <div class="icon-border">
            <ion-icon ios="ios-person" md="md-person"></ion-icon>
          </div>
          <h2>Review your contact information</h2>
          <h5>Make sure your information is complete and accurate, and that you have at least one phone number or email added for when it matters most.</h5>
        </ion-card-content>
      </ion-card>
      <div margin-top margin-bottom padding-left padding-right padding-bottom *ngIf="person.config_self_test_sent == true">
        <ion-icon class="completed" color="primary" ios="md-checkmark" md="md-checkmark"></ion-icon>
        <h5 no-margin>You sent a test Check-In to yourself</h5>
      </div>
      <ion-card tappable margin-top margin-bottom [class.disabled]="person.config_profile_reviewed == false" *ngIf="person.config_self_test_sent == false" (click)="taskSendCheckin($event)">
        <ion-card-content>
          <div class="icon-border">
            <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
          </div>
          <h2>Send a test Check-In to yourself</h2>
          <h5>Confirm that you'll get messages when it really matters by sending yourself a test message.</h5>
        </ion-card-content>
      </ion-card>
      <div padding-left padding-right margin-top padding-bottom>
        <button ion-button block color="primary" (click)="showCheckinList($event)"
                *ngIf="(person.isOwnerOrAdmin() == false || person.config_people_invited == true) && person.config_profile_reviewed == true && person.config_self_test_sent == true">Ok, all finished</button>
      </div>
    </div>
  </div>
</ion-content>
