page-onboard-list {
  h5 {
    font-weight: 400;
  }
  ion-icon {
    &.completed {
      font-size: 60px;
    }
  }
  ion-card {
    ion-card-content {
      background-color: color($colors, white);
    }
    ion-icon {
      font-size: 50px;
      color: color($colors, text);
    }
    h2 {
      margin-top: 5px !important;
    }
    h5 {
      color: color($colors, text);
      margin-top: 3px !important;
    }
    &.disabled {
      opacity: 0.8;
      ion-card-content {
        opacity: 0.4;
      }
    }
    .icon-border {
      width: 60px;
      height:60px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      border-color: color($colors, text);
      padding: 5px;
    }
  }
}
