<ion-header>
  <ion-navbar color="navbar">
    <ion-title></ion-title>
    <ion-buttons right>
      <button color="primary" #next ion-button text-only [disabled]="password.value.length == 0" (click)="showNext($event)">Next</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item text-wrap class="heading" *ngIf="organization">
      <person-avatar item-center [image]="logo" [large]="true" *ngIf="organization.profile_picture == null"></person-avatar>
      <person-avatar item-center [image]="organization.profile_picture" [large]="true" *ngIf="organization.profile_picture != null"></person-avatar>
      <h2>Reset your password</h2>
    </ion-item>
    <ion-item class="heading">
      <h2>Enter your new password for {$ctrl.email} twice.</h2>
      <h1>Passwords must be at least 8 characters.</h1>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" (keypress)="onKeyPress($event)" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-input #newpassword type="password" autocorrect="off" placeholder="New password" (keypress)="showNextOnReturn($event)"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-input #confirm type="password" autocorrect="off" placeholder="Confirm password" (keypress)="showNextOnReturn($event)"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>