<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left *ngIf="tablet == true || browser == true">
      <button ion-button icon-only color="primary" (click)="cancelEdit($event)">
        <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Check-In</ion-title>
    <ion-buttons right *ngIf="checkin">
      <button ion-button color="primary" [disabled]="checkin.canSend() == false" (click)="sendCheckin($event)">Send</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="checkin">
    <ion-item text-wrap text-center color="white">
      <person-avatar [initials]="checkin.user_initials" [image]="checkin.user_picture" [large]="true"></person-avatar>
      <h1>{{checkin.message}}</h1>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="checkin">
    <ion-item color="white" detail-push tappable (click)="showPopover($event)">
      <ion-label>Send via</ion-label>
      <ion-note item-end>{{checkin.send_via | humanize}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="checkin">
    <ion-list-header>Send To</ion-list-header>
    <ion-item color="white" tappable (click)="addPerson()">
      <h2 ion-text color="primary">Add people</h2>
    </ion-item>
    <ion-item color="white" *ngFor="let group of checkin.groups">
      <ion-icon item-left class="group-icon" ios="ios-people" md="md-people"></ion-icon>
      <h2>{{group.name}}</h2>
      <button ion-button icon-only item-right clear color="black" tappable (click)="removeGroup(group)">
        <ion-icon color="grey" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </button>
    </ion-item>
    <ion-item color="white" *ngFor="let recipient of checkin.recipients">
      <person-avatar item-left [initials]="recipient.initials" [image]="recipient.profile_picture" [large]="false"></person-avatar>
      <h2>{{recipient.name}}</h2>
      <button ion-button icon-only item-right clear color="black" tappable (click)="removeRecipient(recipient)">
        <ion-icon color="grey" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
