<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left *ngIf="modal == true">
      <button ion-button icon-only color="cancel" (click)="cancelEdit($event)">
        <ion-icon ios="ios-arrow-round-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Create Check-In</ion-title>
    <ion-buttons right *ngIf="checkin">
      <button ion-button color="primary" [solid]="website == true ? 'true' : null" (click)="sendCheckin($event)">Send</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="organization && checkin">
    <ion-item text-wrap>
      <ion-label stacked>Ask a question...</ion-label>
      <ion-label>{{checkin.message}}</ion-label>
    </ion-item>
    <button ion-item text-wrap (click)="editAnswers()">
      <ion-label stacked>Answers</ion-label>
      <ion-label *ngIf="checkin.answers.length">
        <span class="answer" *ngFor="let answer of checkin.answers">
          <ion-badge [style.background]="answer.color">&nbsp;</ion-badge>
          {{answer.answer}}
        </span>
      </ion-label>
      <ion-label *ngIf="!checkin.answers.length">
        Don't ask for a response.
      </ion-label>
    </button>
    <button ion-item text-wrap (click)="editChannels()">
      <ion-label stacked>Send via</ion-label>
      <ion-label *ngIf="checkin.send_via.length">{{checkin.send_via | humanize}}</ion-label>
      <ion-label *ngIf="!checkin.send_via.length">Don't send the check-in</ion-label>
    </button>
    <button class="recipients-item" ion-item text-wrap (click)="addPerson()">
      <ion-label stacked>Send to...</ion-label>
      <ion-label *ngIf="!checkin.users.length && !checkin.groups.length">Add people or groups</ion-label>
      <ion-label class="recipients-list" *ngIf="checkin.users.length || checkin.groups.length">
        <span *ngFor="let group of checkin.groups">
          <ion-icon item-left class="group-icon" ios="ios-people" md="md-people"></ion-icon>
          {{group.name}}
        </span>
        <span *ngFor="let user of checkin.users">
          <ion-icon item-left class="recipient-icon" ios="ios-person" md="md-person"></ion-icon>
          {{user.name}}
        </span>
      </ion-label>
    </button>
    <button ion-item text-wrap (click)="editChannels()">
      <ion-label stacked>Send via</ion-label>
      <ion-label *ngIf="checkin.send_via.length">{{checkin.send_via | humanize}}</ion-label>
      <ion-label *ngIf="!checkin.send_via.length">Don't send the check-in</ion-label>
    </button>
    <ion-item>
      <ion-label stacked color="dark">When</ion-label>
      <ion-datetime displayFormat="MMMM DD YYYY, h:mm a" pickerFormat="MMM D YYYY h mm A"
                    [min]="today" [max]="future" [(ngModel)]="checkin.started_at"
                    placeholder="Right now" (ngModelChange)="datesChanged($event)"></ion-datetime>
    </ion-item>
    <ion-item text-wrap color="white">
      <ion-label stacked color="dark">Frequency</ion-label>
      <ion-select [(ngModel)]="checkin.frequency" (ngModelChange)="datesChanged($event)">
        <ion-option value="once">Once</ion-option>
        <ion-option value="hourly">Hourly</ion-option>
        <ion-option value="daily">Daily</ion-option>
        <ion-option value="weekly">Weekly</ion-option>
        <ion-option value="monthly">Monthly</ion-option>
        <ion-option value="yearly">Yearly</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="checkin.frequency!='once'">
      <ion-label stacked color="dark">Until</ion-label>
      <ion-datetime displayFormat="MMMM DD YYYY, h:mm a" pickerFormat="MMM D YYYY h mm A"
                    [min]="today" [max]="future" [(ngModel)]="checkin.expired_at"
                    placeholder="Enter ending date" (ngModelChange)="datesChanged($event)"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="checkin.frequency!='once'">
      <ion-label stacked color="dark">Number of check-ins</ion-label>
      <ion-input type="number" autocorrect="off" autocapitalize="off" autocomplete="off"
                 [(ngModel)]="checkin.remaining_count" (ngModelChange)="countsChanged($event)"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="organization && checkin">
    <ion-item>
      <ion-label>Save this check-in to re-use later</ion-label>
      <ion-checkbox checked="false" item-end [(ngModel)]="checkin.template"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="checkin && checkin.waiting_count">
  <ion-toolbar>
    <ion-title>
      <span>{{checkin.waiting_count || 0}} {{checkin.waiting_count == 1 ? "recipient" : "recipients"}}</span>
      <span *ngIf="checkin.creditsRequired()">&middot; {{checkin.creditsRequired()}} {{checkin.creditsRequired() == 1 ? "credit" : "credits"}}</span>
    </ion-title>
  </ion-toolbar>
</ion-footer>
