<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="primary" (click)="cancelSelect($event)">Cancel</button>
    </ion-buttons>
    <ion-title *ngIf="show_people == true">Select People</ion-title>
    <ion-title *ngIf="show_people == false">Select Groups</ion-title>
    <ion-buttons right>
      <button ion-button color="primary" (click)="doneSelect($event)">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center class="spinner" *ngIf="loading == true">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <ion-list *ngIf="show_groups && organization && organization.groups">
    <ion-list-header>
      <button float-right ion-button clear tappable color="primary" *ngIf="organization.groups.length > 0" (click)="selectAllGroups(false)">Deselect All</button>
      <button float-right ion-button clear tappable color="primary" *ngIf="organization.groups.length > 0" (click)="selectAllGroups(true)">Select All</button>
      <h2>Groups</h2>
    </ion-list-header>
    <ion-item color="white" *ngFor="let group of organization.groups">
      <ion-icon item-left class="group-icon" ios="ios-people" md="md-people"></ion-icon>
      <ion-label>{{group.name}}</ion-label>
      <ion-checkbox item-right [(ngModel)]="group.selected"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="show_people && organization && organization.people">
    <ion-list-header>
      <button float-right ion-button clear tappable color="primary" *ngIf="organization.people.length > 0" (click)="selectAllPeople(false)">Deselect All</button>
      <button float-right ion-button clear tappable color="primary" *ngIf="organization.people.length > 0" (click)="selectAllPeople(true)">Select All</button>
      <h2>People</h2>
    </ion-list-header>
    <ion-item color="white" *ngFor="let person of organization.people">
      <person-avatar item-left [initials]="person.initials" [image]="person.profile_picture" [large]="false"></person-avatar>
      <ion-label>{{person.name}}</ion-label>
      <ion-checkbox item-right [(ngModel)]="person.selected"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
