<ion-list text-wrap no-margin>
  <button ion-item *ngIf="user.isOwner() || user.isAdmin() || user.isAuthor() || user.isViewer()" (click)="shareCheckin()">Share Check-In</button>
  <button ion-item *ngIf="!checkin.template && (user.isOwner() || user.isAdmin() || user.id == checkin.user_id)" (click)="saveAsTemplate()">Save Template</button>
  <button ion-item *ngIf="checkin.template && (user.isOwner() || user.isAdmin() || user.id == checkin.user_id)" (click)="removeAsTemplate()">Remove Template</button>
</ion-list>
