<ion-list>
  <button ion-item *ngIf="user.isOwner() || user.isAdmin() || user.isAuthor() || user.isViewer()" (click)="shareCheckin()">Share</button>
  <button ion-item *ngIf="!checkin.template && (user.isOwner() || user.isAdmin() || user.id == checkin.user_id)" (click)="saveAsTemplate()">Save check-in to re-use later</button>
  <button ion-item *ngIf="checkin.template && (user.isOwner() || user.isAdmin() || user.id == checkin.user_id)" (click)="removeAsTemplate()">Remove from saved check-ins</button>
</ion-list>
