<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="cancel">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>People</ion-title>
    <ion-buttons right *ngIf="user">
      <button ion-button icon-only color="primary" [solid]="website == true ? 'true' : null" *ngIf="user.isOwner() || user.isAdmin()" (click)="addPeople($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center class="spinner" *ngIf="loading == true && (organization == null || organization.people == null || organization.people.length == 0)">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <ion-list *ngIf="organization && organization.people">
    <person-row [person]="person" [user]="user" [selected]="selected == person"
                (rowSelected)="showPerson(person, $event)" (removeSelected)="removePerson(person, $event)"
                *ngFor="let person of organization.people"></person-row>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
