<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="cancel">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>People</ion-title>
    <ion-buttons right *ngIf="user">
      <button ion-button icon-start [solid]="website == true ? 'true' : null" color="primary" *ngIf="user.isOwner() || user.isAdmin()" (click)="addPeople($event)">
        <ion-icon ios="md-add" md="md-add"></ion-icon>
        <span *ngIf="website == true">Add</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-toolbar *ngIf="organization && organization.people && organization.people.length > 0">
   <ion-grid>
    <ion-row align-items-center justify-content-start>
     <ion-col col-7 col-sm-6 text-left>
      <ion-searchbar start placeholder="Search..." [(ngModel)]="filter" (ionInput)="onFilter($event)"></ion-searchbar>
     </ion-col>
     <ion-col col-5 col-sm-6 text-right *ngIf="user && user.isOwnerOrAdmin()">
      <button ion-button clear (click)="showActionsPopover($event)">
       Actions &nbsp; <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
      </button>
      <button ion-button icon-only clear>
       <ion-checkbox [class.indeterminate]=selectAllIndeterminate [(ngModel)]="selectAll" (ionChange)="onChangeSelectAll($event)"></ion-checkbox>
      </button>
     </ion-col>
    </ion-row>
   </ion-grid>
  </ion-toolbar>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center class="spinner" *ngIf="loading == true && (organization == null || organization.people == null || organization.people.length == 0)">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <div class="zero-state" *ngIf="loading == false && organization && organization.people && organization.people.length == 0">
    <button ion-button clear color="primary" tappable (click)="skipAhead($event)"
      *ngIf="(user.isOwnerOrAdmin() && user.config_people_invited == false)">Skip</button>
    <img src="assets/images/zero-add-people.png"/>
    <h2>Adding People</h2>
    <h6>You'll need a person's email address or phone number. You can also import a spreadsheet.</h6>
    <button ion-button color="primary" (click)="addPerson($event)"
      *ngIf="(user.isOwnerOrAdmin() == true || user.config_people_invited == false)">Add People To TenFour</button>
  </div>
  <ion-list *ngIf="organization && organization.people && organization.people.length > 0">
    <div *ngFor="let item of organization.people | groupBy:'name':firstCharacter:true">
      <ion-list-header>{{item.key}}</ion-list-header>
      <person-row [person]="person" [user]="user" [selectable]="user && user.isOwnerOrAdmin()"
        (rowSelected)="onPersonSelected(person, $event)"
        (rowClicked)="showPerson(person, $event)" (removeSelected)="removePerson(person, $event)"
        *ngFor="let person of item.values"></person-row>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
