<ion-header>
  <ion-navbar color="navbar">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item text-wrap class="heading">
      <img src="assets/images/dots.png"/>
      <h2>Check your email inbox.</h2>
    </ion-item>
    <ion-item no-lines text-center class="action" *ngIf="canOpenEmail">
      <button ion-button [block]="phone" color="primary" (click)="openMail($event)">Open Mail App</button>
    </ion-item>
    <ion-item text-wrap no-lines class="info" *ngIf="organization">
      <p>We sent an email to you at <strong>{{organization.email}}</strong> with instructions.</p>
      <p>Open the email on your device, then click the <strong>Verify Email</strong> button.</p>
    </ion-item>
  </ion-list>
</ion-content>
