// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


$background-color: #EFEFEB;
$toolbar-text-color: #5BAB60;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #5BAB60,
  secondary:  #EECC50,
  danger:     #A74B4B,
  light:      #EFEFEB,
  dark:       #E6E6DD,
  info:       #888888,
  waiting:    #CCCCCC,
  navbar:     #F5F5F1,
  background: #EFEFEB,
  text:       #8F8F8F,
  grey:       #888888,
  white:      #FFFFFF,
  black:      #000000
);


// App Web Variables
// --------------------------------------------------
// Web only Sass variables can go here

$modal-inset-height-small: 90%;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-text-color: #5BAB60;
$toolbar-ios-button-color: #5BAB60;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-text-color: #5BAB60;
$toolbar-md-button-color: #5BAB60;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
