<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="cancel" (click)="cancelEdit($event)">Cancel</button>
    </ion-buttons>
    <ion-title>Organization Regions</ion-title>
    <ion-buttons right>
      <button ion-button color="primary" [solid]="website == true ? 'true' : null" (click)="doneEdit($event)">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadRegions(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="organization">
    <ion-item color="white" text-wrap *ngFor="let country of organization.countries">
      <ion-label>{{country.name}}</ion-label>
      <person-avatar item-left [initials]="country.code" [image]="country.image" [large]="false"></person-avatar>
      <ion-checkbox item-right color="primary" [(ngModel)]="country.selected"></ion-checkbox>
    </ion-item>
    <div text-center class="spinner" *ngIf="loading == true">
      <ion-spinner name="ios"></ion-spinner>
    </div>
  </ion-list>
</ion-content>
