<ion-split-pane #splitPane [enabled]="tablet == true || website == true || desktop == true">
  <ion-menu #menu [content]="content" side="left" type="reveal" *ngIf="user != null" swipeEnabled="false" (ionOpen)="loadMenu()">
    <ion-header>
      <ion-toolbar color="navbar">
        <ion-buttons left>
          <organization-logo item-left [image]="organization.profile_picture" *ngIf="organization"></organization-logo>
        </ion-buttons>
        <ion-title *ngIf="organization">{{organization.name}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngIf="organization && user">
        <ion-item color="white" detail-push tappable (click)="showCheckinList($event)">Check-Ins<ion-badge item-end *ngIf="website == true && checkinsWaitingNumber > 0">{{checkinsWaitingNumber}}</ion-badge></ion-item>
        <ion-item color="white" detail-push tappable *ngIf="user.isOwner() || user.isAdmin() || user.isAuthor() || user.isViewer()" (click)="showPersonList($event)">People</ion-item>
        <ion-item color="white" detail-push tappable *ngIf="user.isOwner() || user.isAdmin() || user.isAuthor() || user.isViewer()" (click)="showGroupList($event)">Groups</ion-item>
        <ion-item color="white" detail-push tappable *ngIf="user.isOwner() || user.isAdmin() || user.isAuthor() || user.isViewer()" (click)="showNotificationList($event)">Notifications<ion-badge item-end *ngIf="unreadNotificationsNumber > 0">{{unreadNotificationsNumber}}</ion-badge></ion-item>
        <ion-item color="white" detail-push tappable *ngIf="user.isOwner() || user.isAdmin()" (click)="showSettingsList($event)">Settings</ion-item>
        <ion-item color="white" detail-push tappable (click)="showPersonProfile($event)">Profile</ion-item>
        <ion-item color="white" detail-push tappable *ngIf="mobile" (click)="showIntercomMessenger($event)">Help</ion-item>
      </ion-list>
      <div *ngIf="organization && organization.hasFreePlan() && user && (user.isOwner() || user.isAdmin())">
        <p text-center>You are using the free version of TenFour</p>
        <p text-center *ngIf="user && user.isOwner()">
          <button ion-button color="primary" (click)="upgradeToPro($event)">Upgrade to TenFour Pro</button>
        </p>
      </div>
      <div *ngIf="organization && organization.hasProPlan() && user && (user.isOwner() || user.isAdmin())">
        <p text-center *ngIf="organization.credits == 0">No credits remaining</p>
        <p text-center *ngIf="organization.credits > 0">{{organization.credits}} credits remaining</p>
        <p text-center *ngIf="user && user.isOwner() && !ios && organization.credits == 0">
          <button ion-button color="primary" (click)="upgradeToPro($event)">Add SMS Credits</button>
        </p>
      </div>
      <p text-center *ngIf="user">
        <button ion-button block clear color="primary" (click)="userLogout($event)">Log out</button>
      </p>
      <p text-center *ngIf="environmentName && apiEndpoint">
        <button ion-button block clear color="primary" (click)="showAlert(environmentName, apiEndpoint)">***{{environmentName}}***</button>
      </p>
    </ion-content>
  </ion-menu>
  <!---for backdrop --->
  <ion-menu #menu [content]="content" side="left" type="reveal" swipeEnabled="false" *ngIf="user == null">
    <ion-header>
      <ion-toolbar color="navbar">
        <ion-buttons left>
          <organization-logo item-left><img src="assets/images/logo-dots.png"/></organization-logo>
        </ion-buttons>
        <ion-title>My Organization</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item color="white">Check-Ins</ion-item>
        <ion-item color="white">People</ion-item>
        <ion-item color="white">Groups</ion-item>
        <ion-item color="white">Notifications</ion-item>
        <ion-item color="white">Settings</ion-item>
        <ion-item color="white">Profile</ion-item>
        <ion-item color="white">Help</ion-item>
      </ion-list>
      <div>
        <p text-center>10 credits remaining</p>
      </div>
      <p text-center>
        <button ion-button block clear color="primary">Log out</button>
      </p>
    </ion-content>
  </ion-menu>
  <!--end backdrop --->
  <ion-menu #details [content]="content" persistent="true" side="right" type="reveal" swipeEnabled="false" *ngIf="checkin">
    <ion-header>
      <ion-toolbar color="navbar">
        <ion-buttons left>
          <button ion-button icon-only color="primary" (click)="hideCheckin()">
            <ion-icon ios="ios-close" md="md-close"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>Check-In</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <checkin-details [checkin]="checkin" [user]="user"
                       [canRespond]="checkin.canRespond(user)" [canResend]="checkin.canResend(user)"
                       (respondClicked)="respondCheckin($event)" (resendClicked)="resendCheckin($event)" *ngIf="user && checkin"></checkin-details>
    </ion-content>
  </ion-menu>
  <ion-nav main #content #rootNavController swipeBackEnabled="false" [root]="rootPage"></ion-nav>
  <ion-fab left bottom class="intercom" *ngIf="mobile && user == null">
    <button ion-fab tappable color="dark" (click)="showIntercomMessenger($event)">
      <img src="assets/images/intercom.svg"/>
    </button>
  </ion-fab>
</ion-split-pane>
