<ion-split-pane #splitPane [enabled]="organization && person && (tablet == true || mobile == false)">
  <ion-menu #menu [content]="content" side="left" type="reveal" swipeEnabled="false" (ionOpen)="loadMenu()">
    <ion-header>
      <ion-toolbar color="navbar">
        <ion-title *ngIf="organization">{{organization.name}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngIf="organization && person">
        <ion-item color="white" detail-push tappable (click)="showCheckinList($event)">Check-Ins</ion-item>
        <ion-item color="white" detail-push tappable *ngIf="person.isOwner() || person.isAdmin() || person.isAuthor() || person.isViewer()" (click)="showPersonList($event)">People</ion-item>
        <ion-item color="white" detail-push tappable *ngIf="person.isOwner() || person.isAdmin() || person.isAuthor() || person.isViewer()" (click)="showGroupList($event)">Groups</ion-item>
        <ion-item color="white" detail-push tappable *ngIf="person.isOwner() || person.isAdmin()" (click)="showSettingsList($event)">Settings</ion-item>
        <ion-item color="white" detail-push tappable (click)="showPersonDetails($event)">Profile</ion-item>
      </ion-list>
      <p text-center *ngIf="organization && organization.credits == 0">No credits remaining</p>
      <p text-center *ngIf="organization && organization.credits > 0">{{organization.credits}} text message credits</p>
      <p text-center *ngIf="person">
        <button ion-button clear color="primary"(click)="userLogout($event)">Log out</button>
      </p>
    </ion-content>
  </ion-menu>
  <ion-nav main #content #rootNavController swipeBackEnabled="false" [root]="rootPage"></ion-nav>
</ion-split-pane>
