<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="cancel">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Check-Ins</ion-title>
    <ion-buttons right *ngIf="user">
      <button ion-button icon-start [solid]="website == true ? 'true' : null" color="primary" *ngIf="user.isOwner() || user.isAdmin() || user.isAuthor()" (click)="createCheckin($event)">
        <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
        <span *ngIf="website == true">Create</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content (swipe)="swipeEvent($event)">
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div padding-top padding-left padding-right>
          <ion-segment #segment color="primary" [(ngModel)]="filter" (ionChange)="filterChanged($event)">
            <ion-segment-button value="all">All Check-Ins</ion-segment-button>
            <ion-segment-button value="waiting">Awaiting Response <ion-badge *ngIf="website == true && badgeNumber > 0">{{badgeNumber}}</ion-badge></ion-segment-button>
          </ion-segment>
        </div>
        <div text-center class="spinner" *ngIf="loading == true && checkins.length == 0">
          <!--checkins zero state-->
          <button ion-button clear color="primary" tappable (click)="skipAhead($event)"
                  *ngIf="(user.isOwnerOrAdmin() && user.config_people_invited == false) || user.config_profile_reviewed == false || user.config_self_test_sent == false">Skip</button>
          <img src="assets/images/check-in-zero.png"/>
          <h2>What is a Check-in?</h2>
          <p>'Check-in' is what we call our messages in TenFour.<br>Sending a test check-in to yourself means you can see what a check-in will look like.</p>
          <div padding-left padding-right padding-bottom>
            <button ion-button color="primary" (click)="taskSendCheckin($event)"
              *ngIf="(user.isOwnerOrAdmin() == false || user.config_people_invited == true) && user.config_profile_reviewed == true && user.config_self_test_sent == true">Send My First Test Check In</button>
          </div>
          <!--end of zero state-->
          <ion-spinner name="ios"></ion-spinner>
        </div>
        <ion-list *ngIf="checkins">
          <ion-item class="empty" no-lines text-wrap margin-top *ngIf="loading == false && checkins.length == 0">
            <h2 text-center padding-top margin-top *ngIf="filter == 'all'">There currently are no Check-Ins...</h2>
            <h2 text-center padding-top margin-top *ngIf="filter == 'waiting'">There currently are no Check-Ins awaiting response...</h2>
          </ion-item>
          <checkin-card [checkin]="checkin" [user]="user" [selected]="selected == checkin"
                        (cardSelected)="showCheckinDetails(checkin)" (sendSelected)="showCheckinRespond(checkin)" (resendSelected)="resendCheckin(checkin)"
                        *ngFor="let checkin of checkins"></checkin-card>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="loadMore($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
