page-checkin-list {
  ion-content {
    background-color: color($colors, cards) !important;
  }
  ion-segment {
    ion-segment-button {
      ion-badge {
        margin-left: 5px;
        border-radius: 10px !important;
      }
    }
  }
}
