<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="cancel">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Check-Ins</ion-title>
    <ion-buttons right *ngIf="user">
      <button ion-button icon-start [solid]="website == true ? 'true' : null" color="primary" *ngIf="user.isOwner() || user.isAdmin() || user.isAuthor()" (click)="createCheckin($event)">
        <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
        <span *ngIf="website == true">Create</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div padding-left padding-right>
    <ion-segment #segment color="primary" [(ngModel)]="filter" (ionChange)="filterChanged($event)">
      <ion-segment-button [value]="Filter.sent">Sent</ion-segment-button>
      <ion-segment-button [value]="Filter.inbox">Inbox</ion-segment-button>
      <ion-segment-button [value]="Filter.scheduled">Scheduled</ion-segment-button>
    </ion-segment>
  </div>
  <div text-center class="spinner" *ngIf="loading == true && (checkins == null || checkins.length == 0)">
    <ion-spinner name="ios"></ion-spinner>
  </div>
  <div class="zero-state" *ngIf="loading == false && filter == 'sent' && checkins.length == 0">
    <img src="assets/images/zero-check-in.png"/>
    <h2>What is a Check-In?</h2>
    <h6>'Check-In' is what we call our messages in TenFour.</h6>
    <h6 *ngIf="user.config_self_test_sent == false">Sending a test Check-In to yourself means you can see what a Check-In will look like.</h6>
    <button ion-button color="primary" (click)="testCheckin($event)"
      *ngIf="user.config_self_test_sent == false">Send A Test Check-In</button>
    <button ion-button color="primary" (click)="createCheckin($event)"
      *ngIf="user.config_self_test_sent == true && (user.isOwner() || user.isAdmin() || user.isAuthor())">Send A Check-In</button>
  </div>
  <ion-list *ngIf="checkins">
    <ion-item class="empty" no-lines text-wrap margin-top *ngIf="loading == false && checkins.length == 0">
      <h2 text-center padding-top margin-top *ngIf="filter == 'inbox'">There currently are no Check-Ins awaiting response...</h2>
    </ion-item>
    <checkin-card [checkin]="checkin" [user]="user" [selected]="selected == checkin"
                  (cardSelected)="showCheckinDetails(checkin)" (sendSelected)="showCheckinRespond(checkin)"
                  (resendSelected)="resendCheckin(checkin)" (deleteSelected)="deleteCheckin(checkin)"
                  *ngFor="let checkin of checkins"></checkin-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreCheckins($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
