<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Check-Ins</ion-title>
    <ion-buttons end>
      <button #notifications ion-button icon-only color="primary" (click)="showNotifications($event)">
        <ion-icon ios="ios-notifications" md="md-notifications" *ngIf="notify == true"></ion-icon>
        <ion-icon ios="ios-notifications-outline" md="md-notifications" *ngIf="notify == false"></ion-icon>
      </button>
      <button #create ion-button icon-only color="primary" *ngIf="person && person.isOwnerOrAdmin()" (click)="createCheckin($event)">
        <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content (swipe)="swipeEvent($event)">
  <ion-refresher (ionRefresh)="loadUpdates(false, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div padding-top padding-left padding-right>
    <ion-segment #segment color="primary" [(ngModel)]="filter" (ionChange)="filterChanged($event)">
      <ion-segment-button value="all">All Check-Ins</ion-segment-button>
      <ion-segment-button value="waiting">Waiting Response</ion-segment-button>
    </ion-segment>
  </div>
  <ion-list *ngIf="checkins">
    <ion-item no-lines text-wrap margin-top *ngIf="loading == false && checkins.length == 0">
      <h2 text-center padding-top margin-top *ngIf="filter == 'all'">There currently are no Check-Ins...</h2>
      <h2 text-center padding-top margin-top *ngIf="filter == 'waiting'">There currently are no Check-Ins waiting response...</h2>
    </ion-item>
    <ion-card color="white" *ngFor="let checkin of checkins">
      <ion-card-content text-center tappable (click)="showReplies(checkin, $event)">
        <person-avatar [initials]="checkin.user_initials" [image]="checkin.user_picture" [large]="true"></person-avatar>
        <h1>{{checkin.message}}</h1>
        <p>{{checkin.created_at | dateTime}}. <strong>From {{checkin.user_name}}.</strong></p>
        <ion-badge [style.background]="answer.color" [style.color]="white" *ngFor="let answer of checkin.answers">{{answer.replies}}</ion-badge>
        <ion-badge color="waiting" *ngIf="checkin.waiting_count > 0">{{checkin.waiting_count}}</ion-badge>
      </ion-card-content>
      <ion-row no-padding no-margin>
        <ion-col col-6 text-left no-padding no-margin>
          <button ion-button clear color="primary" tappable *ngIf="checkin.canRespond(person)" (click)="sendReply(checkin, $event)">Respond</button>
        </ion-col>
        <ion-col col-6 text-right no-padding no-margin>
          <button ion-button clear color="primary" tappable *ngIf="checkin.canResend(person)" (click)="resendCheckin(checkin, $event)">Resend</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
