<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="cancel" (click)="cancelImport($event)">Cancel</button>
    </ion-buttons>
    <ion-title>Import People</ion-title>
    <ion-buttons right>
      <button ion-button color="primary" (click)="importContacts($event)">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadContacts(null, event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item text-wrap color="white">
      <ion-label>Invite selected people to join TenFour</ion-label>
      <ion-toggle [(ngModel)]="invite"></ion-toggle>
    </ion-item>
    <ion-item text-wrap color="white">
      <ion-label>Invite people via</ion-label>
      <ion-select [(ngModel)]="invitation">
        <ion-option value="email">Email</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="imports">
    <ion-list-header>
      <h2>Contacts</h2>
    </ion-list-header>
    <ion-item color="white" tappable (click)="selectAll($event)">
      <div ion-text color="primary">Select all</div>
    </ion-item>
    <ion-item color="white" *ngFor="let contact of imports">
      <ion-label *ngIf="contact.name.formatted && contact.name.formatted.length > 0">
        {{contact.name.formatted}}
      </ion-label>
      <ion-label *ngIf="contact.name.formatted == null || contact.name.formatted.length == 0">
        {{contact.name.givenName}} {{contact.name.familyName}}
      </ion-label>
      <ion-checkbox [(ngModel)]="contact.checked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
