<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons start>
      <button ion-button color="primary" (click)="cancelEdit($event)">Cancel</button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons end *ngIf="rollcall">
      <button ion-button color="primary" [disabled]="rollcall.message == null || rollcall.message.length == 0" (click)="showNext($event)">Next</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content #scrollTarget>
  <ion-list *ngIf="rollcall">
    <ion-item text-center no-lines color="white">
      <person-avatar [initials]="rollcall.user_initials" [image]="rollcall.user_picture" [large]="true"></person-avatar>
    </ion-item>
    <ion-item text-wrap text-center no-lines color="white">
      <ion-textarea text-center type="text" autocorrect="off" autocapitalize="true" placeholder="Write your question or message" [(ngModel)]="rollcall.message"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="rollcall && rollcall.answers">
    <ion-list-header>Answers</ion-list-header>
    <ion-item color="white" tappable (click)="addCustom()" *ngIf="rollcall.answers.length > 0">
      <h2 ion-text color="primary">Add answer</h2>
    </ion-item>
    <ion-item color="white" *ngFor="let answer of rollcall.answers">
      <button ion-button item-left clear tappable (click)="changeColor(answer)">
        <ion-badge [style.background]="answer.color">&nbsp;</ion-badge>
      </button>
      <ion-input type="text" placeholder="Enter answer" [(ngModel)]="answer.answer"></ion-input>
      <button ion-button icon-only item-right clear color="black" (click)="removeAnswer(answer)">
        <ion-icon color="grey" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <div padding-left padding-right text-center>
    <button ion-button text-only clear color="primary" (click)="addDefaults()" *ngIf="rollcall && rollcall.answers && rollcall.answers.length == 0">
      Ask for a response
    </button>
    <button ion-button text-only clear color="primary" (click)="removeAnswers()" *ngIf="rollcall && rollcall.answers && rollcall.answers.length > 0">
      Don't ask for a response
    </button>
  </div>
</ion-content>
