page-reply-list {
  ion-list {
    ion-item {
      h1 {

      }
      h2 {
        font-weight: 500 !important;
      }
      small {
        display: block;
        color: #888888 !important;
      }
      p {
        color: #888888 !important;
        strong {
          color: #444444 !important;
        }
      }
      ion-badge {
        margin-top: 6px;
        margin-right: 8px;
        border-radius: 2px !important;
      }
      ion-row {
        ion-col {

        }
      }
    }
  }
}
