<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="primary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content #scrollTarget>
  <ion-refresher (ionRefresh)="loadUpdates($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="rollcall">
    <ion-item text-wrap text-center color="white">
      <person-avatar [scrollTarget]="scrollTarget" [initials]="rollcall.user_initials" [image]="rollcall.user_picture" [large]="true"></person-avatar>
      <h1>{{rollcall.message}}</h1>
      <p>{{rollcall.created_at | dateTime}}. <strong>From {{rollcall.user_name}}.</strong></p>
      <ion-badge [style.background]="answer.color" [style.color]="white" *ngFor="let answer of rollcall.answers">{{answer.replies}}</ion-badge>
      <ion-badge color="waiting" *ngIf="rollcall.waiting_count > 0">{{rollcall.waiting_count}}</ion-badge>
    </ion-item>
    <ion-item text-wrap color="white" tappable *ngIf="rollcall.replied == null || rollcall.replied == false" (click)="sendReply($event)">
      <div ion-text color="primary">Respond</div>
    </ion-item>
  </ion-list>
  <div *ngIf="rollcall">
    <ion-list *ngFor="let answer of rollcall.answers">
      <ion-list-header *ngIf="answer.replies > 0">{{answer.answer}}</ion-list-header>
      <ion-item color="white" tappable (click)="editReply($event, reply)" *ngFor="let reply of rollcall.answerReplies(answer)">
        <person-avatar item-left [scrollTarget]="scrollTarget" [color]="answer.color" [initials]="reply.user_initials" [image]="reply.user_picture" [large]="false"></person-avatar>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-7 text-left no-padding>
              <h2>{{reply.user_name}}</h2>
            </ion-col>
            <ion-col col-5 text-right no-padding>
              <small>{{reply.created_at | dateTime}}</small>
            </ion-col>
          </ion-row>
          <ion-row no-padding>
            <ion-col text-left no-padding>
              <p text-wrap>{{reply.message}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="rollcall.replies.length < rollcall.recipients.length">
      <ion-list-header>No Response</ion-list-header>
      <ion-item color="white" *ngFor="let recipient of rollcall.recipientsPending()">
        <person-avatar item-left [scrollTarget]="scrollTarget" [initials]="recipient.initials" [image]="recipient.profile_picture" [large]="false"></person-avatar>
        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col text-left no-padding>
              <h2>{{recipient.name}}</h2>
            </ion-col>
          </ion-row>
          <ion-row no-padding>
            <ion-col text-left no-padding>
              <p text-wrap>{{recipient.response_status}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <ion-row no-padding>
          <ion-col text-left no-padding>
            <h2>{{recipient.name}}</h2>
          </ion-col>
          <ion-col text-right no-padding>
            <small>{{recipient.created_at | dateTime}}</small>
          </ion-col>
        </ion-row>
        <p text-wrap>{{recipient.response_status}}</p> -->
      </ion-item>
    </ion-list>
  </div>
</ion-content>
