checkin-badges {
  div.badges {
    padding-top: 10px;
    div.badge {
      min-width:50px;
      max-width:100%;
      display: inline-block;
      ion-badge {
        font-size: 16px;
        margin-bottom: 8px;
        width: calc(100% - 10px);
        border-radius: 2px !important;
      }
    }
  }
}
