<ion-grid *ngIf="checkin">
  <ion-row>
    <ion-col *ngFor="let answer of gridAnswers()"
      [attr.col-0]="gridColumns(answer) == 0 ? '' : null"
      [attr.col-1]="gridColumns(answer) == 1 ? '' : null"
      [attr.col-2]="gridColumns(answer) == 2 ? '' : null"
      [attr.col-3]="gridColumns(answer) == 3 ? '' : null"
      [attr.col-4]="gridColumns(answer) == 4 ? '' : null"
      [attr.col-5]="gridColumns(answer) == 5 ? '' : null"
      [attr.col-6]="gridColumns(answer) == 6 ? '' : null"
      [attr.col-7]="gridColumns(answer) == 7 ? '' : null"
      [attr.col-8]="gridColumns(answer) == 8 ? '' : null"
      [attr.col-9]="gridColumns(answer) == 9 ? '' : null"
      [attr.col-10]="gridColumns(answer) == 10 ? '' : null"
      [attr.col-11]="gridColumns(answer) == 11 ? '' : null"
      [attr.col-12]="gridColumns(answer) == 12 ? '' : null">
      <ion-badge [style.background]="answer.color" [style.color]="white">{{answer.replies}}</ion-badge>
    </ion-col>
    <ion-col *ngIf="checkin.otherReplies() && checkin.otherReplies().length > 0">
      <ion-badge color="grey">{{checkin.otherReplies().length}}</ion-badge>
    </ion-col>
    <ion-col *ngIf="checkin.waiting_count > 0">
      <ion-badge color="waiting">{{checkin.waiting_count}}</ion-badge>
    </ion-col>
  </ion-row>
</ion-grid>
