checkin-badges {
  .badges {
    padding-top: 10px;
    .badge {
      display: inline-block;
      ion-badge {
        width: calc(100% - 10px);
        font-size: 16px;
        margin-right: 5px;
        border-radius: 2px !important;
      }
    }
  }
}
