checkin-badges {
  .badges {
    padding-top: 5px;
    .badge {
      display: inline-block;
      color: #FFFFFF;
      ion-badge {
        margin-right: 5px;
        width: calc(100% - 10px);
        border-radius: 2px !important;
        strong {
          font-size: 16px;
          text-align: center;
          font-weight: 600 !important;
        }
        .text {
          font-size: 12px;
          text-align: center;
          font-weight: 400 !important;
          color: #FFFFFF !important;
        }
      }
    }
  }
}
