<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="cancel">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alert Feed</ion-title>
    <ion-buttons right *ngIf="user">
      <button ion-button icon-start [solid]="website == true ? 'true' : null" color="primary" *ngIf="user.isAdmin()" (click)="addAlertFeed($event)">
        <ion-icon ios="md-add" md="md-add"></ion-icon>
        <span *ngIf="website == true">Add</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="zero-state" *ngIf="organization && feeds.length === 0">
    <!-- zero state help logo/icon-->
  </div>
  <div *ngIf="organization">
    <h1>Adding Alerts</h1>
    <p>You can add in alerts from third parties by using apis, RSS or email alerts.</p>
    <ion-buttons>
      <button ion-button color="primary" (click)="addAlertFeed($event)">Add an alert feed</button>
    </ion-buttons>
  </div>
  <ion-list>
    <ion-card margin-top margin-bottom color="card" *ngFor="let feed of feeds">
      <ion-card-content text-center tappable (click)="seeFeedEntries(feed)">
        <!-- <person-avatar [initials]="checkin.user_initials" [image]="checkin.user_picture" [large]="true"></person-avatar> -->
        <p>{{feed.country}} <span *ngIf="feed.state">,{{feed.state}}</span></p>
        <p *ngIf="feed.feed.length === 0 || feed.feed.length > 1">{{feed.feed.length}} alerts</p>
        <p *ngIf="feed.feed.length === 1">{{feed.feed.length}} alert</p>
        <!-- <p><strong>Time sent: </strong> {{ feed.sent_at | dateTime}} </p>
        <p><strong>Via {{feed.type}}: </strong> {{ feed.sourceName }} </p> -->
      </ion-card-content>
      <ion-row no-padding no-margin>
        <ion-col col-6 text-left no-padding no-margin>
          <button ion-button clear color="primary" tappable>Create Check In</button>
        </ion-col>
        <ion-col col-6 text-right no-padding no-margin>
          <button ion-button clear color="primary" tappable>Create Another Check In</button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
