<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="cancel" (click)="cancelEdit($event)">Cancel</button>
    </ion-buttons>
    <ion-title>Add Alert</ion-title>
    <ion-buttons right>
      <button ion-button color="primary" [solid]="website == true ? 'true' : null" (click)="showNext($event)" *ngIf="alert">Next</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="sources">
    <ion-item color="white">
      <ion-label floating>What Country?</ion-label>
      <ion-select [(ngModel)]="alert.country">
        <ion-option value="{{location}}" *ngFor="let location of objectKeys(locations)">{{location}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item color="white">
      <ion-label floating>What State?</ion-label>
      <ion-select [(ngModel)]="alert.state">
        <ion-option value="{{state}}" *ngFor="let state of locations[alert.country]">{{state}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-list text-wrap no-margin radio-group [(ngModel)]="alert.sourceType">
      <ion-list-header>
        <h2>How is the alert received?</h2>
      </ion-list-header>
      <ion-item color="white" *ngFor="let source of sources">
        <ion-icon ios="ios-phone-portrait" md="md-phone-portrait" item-left></ion-icon>
        <ion-label>{{source.name}}</ion-label>
        <ion-radio item-right></ion-radio>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
