<ion-card color="white" [class.selected]="selected == true">
  <ion-card-content text-center tappable (click)="onCardSelected($event)">
    <person-avatar [initials]="checkin.user_initials" [image]="checkin.user_picture" [large]="true"></person-avatar>
    <h1>{{checkin.message}}</h1>
    <p>{{checkin.created_at | dateTime}}. <strong>From {{checkin.user_name}}.</strong></p>
    <ion-badge [style.background]="answer.color" [style.color]="white" *ngFor="let answer of checkin.answers">{{answer.replies}}</ion-badge>
    <ion-badge color="waiting" *ngIf="checkin.waiting_count > 0">{{checkin.waiting_count}}</ion-badge>
  </ion-card-content>
  <ion-row no-padding no-margin *ngIf="checkin.canRespond(person) || checkin.canResend(person)">
    <ion-col col-6 text-left no-padding no-margin>
      <button ion-button clear color="primary" tappable *ngIf="checkin.canRespond(person)" (click)="onSendSelected($event)">Respond</button>
    </ion-col>
    <ion-col col-6 text-right no-padding no-margin>
      <button ion-button clear color="secondary" tappable *ngIf="checkin.canResend(person)" (click)="onResendSelected($event)">Resend</button>
    </ion-col>
  </ion-row>
</ion-card>
