<ion-card margin-top margin-bottom color="card" [class.selected]="selected == true">
  <ion-card-content text-center tappable (click)="onCardSelected($event)">
    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col col-3 col-sm-1 text-left no-padding>
          <person-avatar [initials]="checkin.user_initials" [image]="checkin.user_picture" [large]="true"></person-avatar>
        </ion-col>
        <ion-col col-8 col-sm-10 text-left no-padding>
          <h1 text-left text-wrap>{{checkin.message}}</h1>
          <p text-left text-nowrap class="truncate">{{checkin.created_at | dateTime}}, <strong>{{checkin.user_name}}</strong></p>
        </ion-col>
        <ion-col col-1 col-sm-1 text-right no-padding>
          <button ion-button clear icon-only color="primary" tappable item-right>
            <ion-icon ios="ios-more" md="md-more"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <checkin-badges [checkin]="checkin" *ngIf="checkin"></checkin-badges>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <!-- <ion-row no-padding no-margin *ngIf="(hasSendSelected && checkin.canRespond(user)) || (hasResendSelected && checkin.canResend(user))">
    <ion-col col-6 text-left no-padding no-margin>
      <button ion-button clear color="primary" tappable *ngIf="checkin.canRespond(user)" (click)="onSendSelected($event)">Respond</button>
    </ion-col>
    <ion-col col-6 text-right no-padding no-margin>
      <button ion-button clear color="primary" tappable *ngIf="checkin.canResend(user)" (click)="onResendSelected($event)">Resend</button>
    </ion-col>
  </ion-row> -->
</ion-card>
