<ion-card margin-top margin-bottom color="card" [class.selected]="selected == true">
  <ion-card-content tappable (click)="onCardSelected($event)">
    <div class="details">
      <person-avatar [initials]="checkin.user_initials" [image]="checkin.user_picture" [large]="true"></person-avatar>
      <div class="titles">
        <h1>{{checkin.message}}</h1>
        <p>{{(checkin.send_at || checkin.created_at) | dateTime}}, <strong>{{checkin.user_name}}</strong></p>
      </div>
    </div>
    <checkin-badges [checkin]="checkin" *ngIf="checkin"></checkin-badges>
  </ion-card-content>
  <ion-row no-padding no-margin *ngIf="(hasSendSelected && checkin.canRespond(user)) ||
                                       (hasResendSelected && checkin.canResend(user)) ||
                                       (canDelete && hasDeleteSelected && checkin.canDelete(user))">
    <ion-col col-6 text-left no-padding no-margin>
      <button ion-button clear color="primary" tappable *ngIf="checkin.canRespond(user)" (click)="onSendSelected($event)">Respond</button>
    </ion-col>
    <ion-col col-6 text-right no-padding no-margin>
      <button ion-button clear color="primary" tappable *ngIf="checkin.canResend(user)" (click)="onResendSelected($event)">Resend</button>
      <button ion-button clear color="primary" tappable *ngIf="canDelete && checkin.canDelete(user)" (click)="onDeleteSelected($event)">Delete All</button>
    </ion-col>
  </ion-row>
</ion-card>
