<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="cancel">
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>Add Alert</ion-title>
    <ion-buttons right *ngIf="user">
      <button ion-button icon-start [solid]="website == true ? 'true' : null" color="primary" *ngIf="user.isAdmin()" (click)="next($event)">
        <ion-icon ios="md-add" md="md-add"></ion-icon>
        <span *ngIf="website == true">Next</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="alertFeed">
    <ion-item color="white">
        <ion-label>Send automatic alerts.</ion-label>
        <ion-checkbox item-right [(ngModel)]="automatic"></ion-checkbox>
    </ion-item>
    <ion-item col-6 text-left no-padding no-margin>
      <button ion-button clear color="primary" tappable (click)="next($event)">Next</button>
    </ion-item>
  </ion-list>
</ion-content>
