<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="cancel" (click)="cancelEdit($event)">Cancel</button>
    </ion-buttons>
    <ion-title>Active Channels</ion-title>
    <ion-buttons right  *ngIf="organization && organization.hasProPlan()">
      <button ion-button color="primary" (click)="doneEdit($event)">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="organization">
    <ion-item color="white">
      <ion-icon ios="ios-phone-portrait" md="md-phone-portrait" item-left></ion-icon>
      <ion-label>
        <h2>TenFour App</h2>
      </ion-label>
      <ion-toggle [disabled]="!organization || !organization.hasProPlan()" [(ngModel)]="organization.app_enabled"></ion-toggle>
    </ion-item>
    <ion-item color="white">
      <ion-icon ios="ios-mail" md="md-mail" item-left></ion-icon>
      <ion-label>
        <h2>Email</h2>
      </ion-label>
      <ion-toggle [disabled]="!organization || !organization.hasProPlan()" [(ngModel)]="organization.email_enabled"></ion-toggle>
    </ion-item>
    <ion-item color="white">
      <ion-icon ios="ios-text" md="md-text" item-left></ion-icon>
      <ion-label>
        <h2>SMS</h2>
      </ion-label>
      <ion-toggle [disabled]="!organization || !organization.hasProPlan()" [(ngModel)]="organization.sms_enabled"></ion-toggle>
    </ion-item>
    <ion-item color="white">
      <ion-icon ios="ios-text" md="md-text" item-left></ion-icon>
      <ion-label>
        <h2>Voice</h2>
      </ion-label>
      <ion-toggle [disabled]="!organization || !organization.hasProPlan()" [(ngModel)]="organization.voice_enabled"></ion-toggle>
    </ion-item>
    <ion-item color="white" no-lines class="slack">
      <ion-icon ios="ios-chatboxes" md="md-chatboxes" item-left></ion-icon>
      <ion-label>
        <h2>Slack</h2>
      </ion-label>
      <ion-toggle [disabled]="!organization || !organization.hasProPlan()" [(ngModel)]="organization.slack_enabled"></ion-toggle>
    </ion-item>
    <ion-item color="white" class="webhook" [class.hidden]="organization.slack_enabled == false" *ngIf="organization && organization.hasProPlan()">
      <ion-icon color="white" ios="ios-chatboxes" md="md-chatboxes" item-left *ngIf="organization.slack_enabled"></ion-icon>
      <ion-label *ngIf="organization.slack_enabled">
        <h2>Webhook</h2>
      </ion-label>
      <ion-input type="url" autocorrect="off" autocapitalize="off" autocomplete="off" placeholder="https://" [(ngModel)]="organization.slack_webhook" *ngIf="organization.slack_enabled"></ion-input>
      <button item-end ion-button clear icon-only color="grey" title="How to configure channels" *ngIf="organization.slack_enabled" (click)="showUrl('https://api.slack.com/incoming-webhooks', '_blank', $event)">
        <ion-icon no-padding no-margin ios="ios-help-circle" md="md-help-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <div *ngIf="organization && !organization.hasProPlan()">
    <p text-center>This is a Pro feature</p>
    <p text-center *ngIf="user && user.isOwner() && !ios">
      <button ion-button color="primary" (click)="upgradeToPro($event)">Upgrade to TenFour Pro</button>
    </p>
  </div>
</ion-content>
