<ion-header>
  <ion-navbar color="navbar">
    <button ion-button icon-only menuToggle color="cancel">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Check-Ins</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div padding-top padding-left padding-right>
          <ion-segment>
            <ion-segment-button value="all">All Check-Ins</ion-segment-button>
            <ion-segment-button value="waiting">Awaiting Response <ion-badge *ngIf="website == true">2</ion-badge></ion-segment-button>
          </ion-segment>
        </div>
        <ion-list *ngIf="checkins">
          <checkin-card [checkin]="checkin" *ngFor="let checkin of checkins"></checkin-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
