<ion-item color="white" detail-push tappable (click)="onRowClicked($event)">
  <ion-icon item-left class="group-icon" ios="ios-people" md="md-people"></ion-icon>
  <ion-label>
    <h2>{{group.name}}
      <ion-icon *ngIf="group.source && group.source.length && group.source !== 'local'" ios="ios-cloud-outline" md="md-cloud-outline"></ion-icon>
    </h2>
    <p>{{group.member_count || 0}} people</p>
  </ion-label>
  <ion-checkbox *ngIf="isSelectable" clear item-right [(ngModel)]="group.selected" (ionChange)="onRowSelected($event)"></ion-checkbox>
</ion-item>
