<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons start>
      <button ion-button color="primary" (click)="cancelReply($event)">Cancel</button>
    </ion-buttons>
    <ion-title *ngIf="rollcalls && rollcalls.length == 0"></ion-title>
    <ion-title *ngIf="rollcalls && rollcalls.length > 1">{{index + 1}} / {{rollcalls.length}}</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" *ngIf="rollcall && rollcall.reply && rollcall.reply.id == null" (click)="sendReply(rollcall, rollcall.reply)">Send</button>
      <button ion-button color="primary" *ngIf="rollcall && rollcall.reply && rollcall.reply.id != null" (click)="saveReply(rollcall, rollcall.reply)">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides [pager]="false" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let rollcall of rollcalls">
      <ion-list no-margin>
        <ion-item text-wrap color="white">
          <person-avatar [initials]="rollcall.user_initials" [image]="rollcall.user_picture" [large]="true"></person-avatar>
          <h1 text-center>{{rollcall.message}}</h1>
          <p text-center>{{rollcall.created_at | dateTime}}. <strong>From {{rollcall.user_name}}.</strong></p>
        </ion-item>
      </ion-list>
      <div class="buttons" margin-top margin-bottom *ngIf="rollcall.reply">
        <div padding-left padding-right *ngFor="let answer of rollcall.answers">
          <button ion-button block [style.background]="answer.color" [style.color]="white" *ngIf="answer.answer == rollcall.reply.answer" (click)="selectAnswer(rollcall, rollcall.reply, answer)">{{answer.answer}}</button>
          <button ion-button block outline color="grey" *ngIf="answer.answer != rollcall.reply.answer" (click)="selectAnswer(rollcall, rollcall.reply, answer)">{{answer.answer}}</button>
        </div>
      </div>
      <ion-list *ngIf="rollcall.reply">
        <ion-item color="dark">
          <ion-icon ios="ios-chatboxes" md="md-chatboxes" item-left></ion-icon>
          <ion-input type="text" placeholder="Add message" [(ngModel)]="rollcall.reply.message"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-icon ios="ios-pin" md="md-pin" item-left></ion-icon>
          <ion-input type="text" placeholder="Add location" [(ngModel)]="rollcall.reply.location_text"></ion-input>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>
