<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
      <button ion-button color="cancel" (click)="cancelCheckin($event)">Cancel</button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons right *ngIf="checkin">
      <button ion-button color="primary"  (click)="sendCheckin($event)">Send</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="checkin">
    <ion-item text-wrap text-center color="white">
      <person-avatar [initials]="checkin.user_initials" [image]="checkin.user_picture" [large]="true"></person-avatar>
      <h1 padding-top>{{checkin.message}}</h1>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="checkin">
    <ion-item color="white">
      <ion-label>Send via</ion-label>
      <ion-note item-end>{{checkin.send_via | humanize}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="checkin">
    <ion-list-header>
      <h2>Send To</h2>
    </ion-list-header>
    <ion-item color="white" *ngFor="let recipient of checkin.recipients">
      <person-avatar item-left [initials]="recipient.initials" [image]="recipient.profile_picture" [large]="false"></person-avatar>
      <h2>{{recipient.name}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
