person-avatar {
  .person-avatar {
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    overflow: hidden !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    .image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      overflow: hidden;
      img {
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        width:100% !important;
        height:auto !important;
      }
    }
    .initials {
      width:100%;
      height:100%;
      color: white;
      font-size: 14px;
      padding-top: 8px;
      text-align: center;
      font-weight: 500;
    }
    &.border {
      border-color: transparent;
      border-width: 3px;
      border-style: solid;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      .initials {
        padding-top: 5px;
      }
    }
    &.large {
      width:60px !important;
      height:60px !important;
      margin-bottom: 5px;
      .initials {
        font-size: 25px;
        padding-top: 15px;
      }
      &.border {
        border-width: 6px;
      }
    }
  }
}
