<ion-avatar class="person-avatar" [class.large]="large" [style.background-color]="color" *ngIf="hasImage == true">
  <img [class.border]="color" [style.border-color]="color" [src]="image" [@fadeInOut]="fadeIn">
  <!-- <img class="ng-lazyload" [class.border]="color" [style.border-color]="color" [offset]="offset" [lazyLoad]="image" [errorImage]="errorImage" [scrollObservable]="scrollTarget.ionScroll" *ngIf="scrollTarget != null"> -->
</ion-avatar>
<div class="person-avatar" [class.large]="large" *ngIf="hasImage == false">
  <div [class.border]="color" [style.border-color]="color">{{initials}}</div>
</div>
