<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons start>
      <button ion-button color="primary" (click)="cancelAdd($event)">Cancel</button>
    </ion-buttons>
    <ion-title>Add people</ion-title>
    <ion-buttons end>
      <button ion-button color="primary" (click)="doneAdd($event)">Done</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="loadPeople($event, false)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="organization && organization.people">
    <ion-list-header>People</ion-list-header>
    <ion-item color="white" *ngFor="let person of organization.people">
      <ion-label>{{person.name}}</ion-label>
      <ion-checkbox item-left [(ngModel)]="person.selected"></ion-checkbox>
      <person-avatar item-left [initials]="person.initials" [image]="person.profile_picture" [large]="false"></person-avatar>
    </ion-item>
  </ion-list>
</ion-content>
